{# SwagEmporiumTheme Copyright (C) 2025 shopware AG #}

{% sw_extends '@Storefront/storefront/section/cms-section-block-container.html.twig' %}

{% block section_content_block_container %}
    <div class="cms-block-container"
         style="{% if padding %}padding: {{ padding }};{% endif %}">

        {% block section_content_block_row %}
            <div class="cms-block-container-row row cms-row {{ sidebarClasses }} {{ layout }} ">
                {% sw_include "@Storefront/storefront/block/cms-block-" ~ block.type ~ ".html.twig" ignore missing %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
