{# SwagEmporiumTheme Copyright (C) 2025 shopware AG #}

{% sw_extends '@Storefront/storefront/section/cms-section-default.html.twig' %}

{% block page_content_section_default %}
    {% sw_include '@SwagCmsExtensions/storefront/section/quickview/component.html.twig' ignore missing %}

    {% set layout = section.sizingMode ? section.sizingMode|replace({"_": "-"}) : "container" %}

    <div class="cms-section-default">
        {% for block in section.blocks %}

            {% block section_default_content_block %}
                {% sw_include "@Storefront/storefront/section/cms-section-block-container.html.twig" %}
            {% endblock %}
        {% endfor %}
    </div>
{% endblock %}
