$footer-color: #7F868C;
$footer-border-color: #D7DBDF;

@mixin service-menu-layout() {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    border-top: 1px solid $sw-border-color;
}

.footer-main {
    @include media-breakpoint-up(md) {
        .footer-columns {
            padding: 50px 0;
            border-bottom: 2px solid $footer-border-color;
        }
    }

    @include media-breakpoint-up(lg) {
        .footer-newsletter {
            padding-top: unset;
            padding-bottom: unset;

            .footer-newsletter-container {
                border-bottom: unset;
                padding-bottom: unset;
            }
        }

        .footer-newsletter-content {
            padding-top: 0;
        }
    }
}

.footer-service-menu-list {
    @include service-menu-layout();

    border-top: none;
    gap: 24px;
}

.footer-service-menu-item,
.footer-link-item {
    .footer-service-menu-link::before,
    .footer-link::before {
        content: '';
        background-image: $icon-chevron-right;
        padding: 0;
        margin: -2px 10px 0 0;
        background-size: 12px;
        background-repeat: no-repeat;
        background-position: center;
        width: 12px;
        height: 15px;
        display: inline-block;
        vertical-align: middle;
    }
}

.footer-service-menu-item {
    padding-right: 0;

    .footer-service-menu-link::before {
        margin-right: 5px;
    }
}

.footer-service {
    background-color: $gray-100;
}

.footer-column-content-inner {
    ul {
        margin-bottom: 4px;
    }
}

.footer-top {
    background-color: $sw-color-brand-secondary;
    padding-top: 24px;
    padding-bottom: 24px;

    .footer-newsletter-your-email {
        @extend .d-none;
    }
}

.footer-newsletter-header {
    text-align: center;

    p {
        font-size: 10px;
        line-height: 15px;
        color: $footer-color;

        @include media-breakpoint-up(sm) {
            font-size: 13px;
            max-width: 500px;
            line-height: 20px;
            margin: 0 auto 14px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 15px;
            line-height: 24px;
            max-width: 577px;
            margin-bottom: 24px;
        }
    }
}

.footer-newsletter-header-headline {
    font-weight: $font-weight-normal;

    @include media-breakpoint-up(sm) {
        font-size: 20px;
    }

    @include media-breakpoint-up(lg) {
        font-size: $h3-font-size;
    }
}

.footer-newsletter-content {
    .input-group {
        @extend .input-group-lg;

        > .form-control {
            padding-right: 45px;
        }

        .icon {
            > svg {
                top: 4px;
            }
        }

        @include media-breakpoint-down(sm) {
            > .form-control:not(textarea) {
                height: 42px;
            }

            .icon {
                width: 18px;
                height: 18px;
            }
        }

    }
}

.footer-minimal,
.footer-simple {
    .footer-bottom {
        border-top: 1px solid $border-color;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: $top-and-bottom-color;
    }

    .footer-service-menu-item {
        &:after {
            content: none;
        }
    }

    .footer-service-menu-link {
        padding: 0;
        line-height: 28px;

        > .icon {
            margin-right: 10px;
        }
    }
}

.footer-bottom {
    font-weight: $font-weight-bold;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    background: $top-and-bottom-color;
    color: $white;
    padding: 14px 0;

    a {
        color: $white;
    }

    p {
     margin-bottom: 10px;
    }

    .container {
        padding-left: 24px;
        padding-right: 24px;
    }
}

.footer-quality {
    margin-bottom: 10px;
}

.footer-copyright {
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
        margin-right: 10px;

        > svg {
            top: 0;
        }
    }
}

.footer-column-headline,
.footer-column-headline a {
    color: $sw-color-price;
    font-size: 13px;
    line-height: 21px;
}

.footer-column-headline {
    align-items: center;
    padding: 0;
}

.footer-plus-icon,
.footer-minus-icon {
    .icon {
        width: 18px;
        height: 18px;

        > svg {
            top: 0;
        }
    }
}

.footer-column-toggle {
    line-height: 0;
}

.footer-link,
.footer-link-item .links {
    font-size: 13px;
    line-height: 21px;
    color: $footer-color;
    display: inline-block;
    vertical-align: middle;
}

.footer-link-item {
    padding: 5px 10px;

    .icon {
        width: 16px;
        height: 16px;
        margin-right: 10px;
    }
}

.footer-logo-main-link {
    display: block;
    max-width: 100px;
    margin: 0 auto 14px;
}

.footer-logo-main-img {
    max-width: 100%;
    height: auto;
}

.footer-hotline-wrap {
    text-align: center;
    display: flex;
    gap: 10px;

    p {
        font-weight: $font-weight-normal;
        font-size: 10px;
        line-height: 15px;
        color: $footer-color;
        margin-bottom: 14px;
    }

    > a,
    > p {
        width: 100%;
    }
}

.footer-contact-hotline,
.footer-contact-form {
    background: #F3F5F6;
    border-radius: 1px;
    display: inline-block;
    padding: 8px 20px;
    line-height: 16px;
    width: calc(50% - 5px);

    a {
        margin-bottom: 0;
        margin-top: 0;
        font-weight: $font-weight-bold;
        font-size: 10px;
        line-height: 15px;
        text-align: center;
        color: $top-and-bottom-color;
    }
}

.footer-contact-form {
    font-weight: $font-weight-bold;
    font-size: 10px;
    text-align: center;
    color: $top-and-bottom-color;
}

.footer-middle {
    padding-bottom: 24px;
}

.footer-logos {
    padding: 0;
}

.footer-service-menu-link {
    font-weight: $font-weight-normal;
    font-size: 13px;
    line-height: 21px;
    color: $gray-900;
    padding: 0;

    &:hover {
        text-decoration: none;
    }
}

@include media-breakpoint-down(sm) {
    .footer-bottom {
        padding: 24px 0;
    }

    .footer-columns {
        padding: 24px;
    }

    .footer-column {
        padding: 11px;
        border-bottom-color: $footer-border-color;

        &:nth-of-type(1) {
            border-top: $border-width solid $footer-border-color;
        }

        .footer-column-content {
            padding-top: 14px;
        }
    }

    .footer-service-menu-list {
        padding: 13px 0;
        flex-direction: row;
        align-items: flex-start;
    }

    div[data-swag-paypal-installment-banner="true"] {
        max-width: 100%;
        flex: 0 0 100%;
        margin-bottom: $spacer;
    }

    .footer-hotline-wrap {
        flex-wrap: wrap;
    }
}

@include media-breakpoint-up(sm) {
    .footer-middle {
        border-bottom: none;
    }

    .footer-top {
        padding-top: 34px;
        padding-bottom: 34px;
    }

    .footer-newsletter-content {
        .cms-element-form {
            max-width: 240px;
            margin: 0 auto;
        }
    }

    .footer-bottom {
        p {
            margin-bottom: 0;
        }

        .row {
            align-items: center;
        }
    }

    .footer-quality {
        margin-bottom: 0;
    }
}

@include media-breakpoint-up(md) {
    .footer-minimal,
    .footer-simple {
        .footer-logo-main-link {
            margin: 0 auto 0 0;
        }
    }

    .footer-column-headline,
    .footer-column-headline a {
        font-size: $font-size-lg;
        font-weight: $font-weight-normal;
    }

    .footer-link-item {
        padding: 4px 0;
    }

    .footer-hotline-wrap {
        align-items: center;
        padding: 33px 0;

        > p {
            margin-bottom: 0;
            text-align: left;
        }

        > a, > p {
            width: 100%;
        }
    }

    .footer-logo-main-link {
        max-width: 147px;
        margin: 0 auto 0 0;
    }

    .footer-contact-hotline,
    .footer-contact-form {
        width: auto;
        white-space: nowrap;
    }

    .footer-middle {
        padding-bottom: 0;
    }

    .footer-column-headline {
        padding-bottom: 10px;
    }
}

@include media-breakpoint-up(lg) {
    .footer-top {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .footer-hotline {
        order: -1;
    }

    .footer-hotline-wrap {
        flex-wrap: wrap;

        p {
            font-size: 15px;
            margin-bottom: 24px;
            text-align: left;
            width: 100%;
        }
    }

    .footer-logo-main-link {
        max-width: 182px;
        margin-bottom: 26px;
    }

    .footer-column-headline {
        padding-bottom: 20px;
    }

    .footer-link,
    .footer-link-item .links {
        font-size: 15px;
        line-height: 24px;
    }

    .footer-contact-hotline a,
    .footer-contact-form a {
        font-size: 10px;
        line-height: 20px;
    }

    .footer-column-headline,
    .footer-column-headline a {
        font-size: 20px;
    }

    .footer-newsletter-content .cms-element-form {
        max-width: 427px;
    }

    .footer-bottom {
        font-size: $font-size-small;
    }

    .footer-copyright {
        justify-content: flex-end;
    }

    .footer-quality {
        text-align: left;
    }

    .footer-main {
        .footer-columns {
            border-bottom: none;
        }
    }

    .footer-minimal {
        .footer-service-menu-link {
            font-size: $font-size-base;
            line-height: 24px;
        }

        .footer-service-menu-list {
            gap: 30px;
        }
    }
}

@include media-breakpoint-up(xl) {
    .footer-minimal,
    .footer-simple {
        .footer-service-menu-item,
        .footer-link-item {
            .footer-service-menu-link::before,
            .footer-link::before {
                background-image: $icon-chevron-right-white;
            }
        }

        .footer-vat {
            text-align: left;
        }
    }
}
