// Header search
$input-group-width-lg: 725px !default;
$input-group-spacer: 100px;
$input-group-border-color: #D7DBDF !default;

$logo-width-sm: 141px;
$logo-width-md: 128px;
$logo-width-lg: 182px;
$logo-height-md: 26px;
$logo-height-lg: 37px;

.header {
    &-row {
        padding: 0;
    }

    &-logo-col {
        display: flex;
        justify-content: center;
        padding-bottom: 0;
        margin: 13px 0 10px;
        z-index: 1;
        overflow: hidden;

        img {
            max-width: $logo-width-sm;
        }
    }

    &-logo-picture {
        text-align: left;
    }

    &-cart-total {
        color: $top-and-bottom-color;
        font-size: $btn-font-size;
        font-weight: $font-weight-bold;
        margin-left: 13px;
    }

    &-actions-col {
        padding: 5px $grid-gutter-width/2 5px;
    }

    &-search-col {
        position: unset;
    }
}

@if (not feature('V6_5_0_0')) {
    .header-search-btn {
        border: none;
    }

    .input-group .input-group-append {
        .header-search-btn {
            right: 19px;
        }
    }
}

.navigation-toggle {
    display: flex;
    align-items: flex-end;
    font-weight: $font-weight-bold;

    .icon {
        margin-right: 14px;

        svg {
            top: 0
        }
    }

    &-tablet {
        display: none;

        @include media-breakpoint-up(sm) {
            display: block;
        }
    }
}

.header-search {
    margin: 0;
    max-width: unset;
    width: 100%;
    bottom: -7px;

    &-input,
    &-btn {
        border-color: $input-group-border-color;
    }

    @if (not feature('V6_5_0_0')) {
        &-input {
            border-right: $border-width solid $input-group-border-color;
        }
    }

    &-icon {
        .icon {
            color: $top-and-bottom-color;

            > svg {
                top: 0;
            }
        }

        &:hover {
            color: $sw-color-brand-primary;
        }
    }

    @include media-breakpoint-up(lg) {
        position: absolute;

        .header-search-form {
            width: 100%;

            &,
            .input-group {
                max-width: $input-group-width-lg;
            }
        }
    }

    &-form {
        z-index: $search-suggest-zindex;
        width: 100%;

        .header-search-input {
            padding: 13px;
            line-height: 24px;
            height: auto;
        }
    }
}


.search-toggle-btn {
    .icon {
        color: $top-and-bottom-color;
    }
}

.header-main {
    position: relative;
    border-bottom: $border-width solid $border-color;

    .header-actions-btn {
        .btn, &.btn {
            padding: 4px 8px;
            font-size: $h6-font-size;
            font-weight: $font-weight-normal;
            display: flex;
            align-items: center;

            .icon {
                width: 18px;
                height: 18px;

                > svg {
                    top: 0;
                }
            }
        }
    }

    .nav-main-toggle,
    .nav-main-toggle-btn {
        height: 100%;
        padding-left: 0;
    }
}

.header-cart {
    border-left: 1px solid $border-color;
    padding-left: 5px;
    margin-left: 5px;

    .header-cart-badge {
        width: 15px;
        height: 15px;
        font-size: 8px;
        top: 3px;
        left: 15px;
        padding: 0;
        line-height: 15px;
    }

    .btn.header-cart-btn {
        padding-left: 8px;
        overflow: visible;
    }

    &-icon {
        .icon {
            color: $top-and-bottom-color;

            svg path {
                fill: none;
            }
        }
    }

    &:hover {
        color: $sw-color-brand-primary;

        .header-cart-total {
            color: $sw-color-brand-primary;
        }
    }
}

@include media-breakpoint-up(sm) {
    .header-logo-col {
        img {
            max-height: $logo-height-md;
        }
    }
}

@include media-breakpoint-between(sm, lg) {
    .header-search-col,
    .header-search-form {
        position: static;
    }
}

@include media-breakpoint-up(lg) {
    .header-search-form {
        .header-search-input {
            padding: 15px 20px;
        }
    }

    .dekstop-nav-main-toggle-btn .icon {
        margin-right: 10px;
    }

    .header-cart {
        padding-left: 11px;
        margin-left: 11px;
    }

    .header-row {
        padding: 16px 0;
    }

    .header-main {
        .menu-button,
        .header-actions-btn {
            .btn, &.btn {
                padding: 10px 10px;
                font-size: $h5-font-size;
            }
        }
    }

    .header-logo-col {
        img {
            max-height: $logo-height-lg;
        }
    }

    .header-search-form {
        justify-content: center;
        width: 55%;
        display: flex;

        .search-suggest {
            position: absolute;
            top: 100%;
            width: 100%;
        }
    }
}

@include media-breakpoint-down(lg) {
    .header-search-col {
        .collapse:not(.show) {
            display: none;
        }
    }

    #searchCollapse {
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        padding: 10px $grid-gutter-width/2;
        background: $white;
        border-top: $border-width solid $border-color;

        .icon {
            color: $top-and-bottom-color;
        }
    }
}
