.offcanvas-cart {
    .line-item {
        &-quantity,
        &-total-price {
            padding-left: $line-item-img-size + $line-item-space-sm;

            &-label {
                display: none;
            }
        }

        &-quantity {
            &-select-wrapper {
                width: 100%;
            }
        }
    }

    .alert {
        margin-top: 0;
        margin-bottom: 24px;
        line-height: 18px;
    }

    .flashbags:not(:empty) {
        margin-top: 0;
    }

    .line-item-remove {
        .icon {
            width: 14px;
            height: 14px;
            color: $btn-scroll-top-icon-color;
        }
    }

    .line-item-quantity {
        margin-bottom: 0;

        &-row {
            margin-bottom: 15px;
        }
    }

    @if (not feature('v6.5.0.0')) {
        .cart-item-price {
            margin-left: 0;

            .cart-item-reference-price {
                display: block;
                color: $top-and-bottom-color;
                font-weight: $font-weight-bold;
            }
        }

        .cart-quantity-price {
            display: block;
        }

        .cart-item-quantity {
            padding: 0;
            margin-bottom: 15px;
            text-align: left;

            @extend .col-12;
        }

        .cart-item-price {
            text-align: left;
        }

        .cart-item-details {
            margin-bottom: 0;
        }

        .cart-item-details-container {
            .cart-item-details {
                margin-right: 10px;
            }
        }
    }
}

.offcanvas,
.cart-offcanvas {
    .offcanvas-content-container {
        padding: 24px;
    }
}

.cart-offcanvas {
    @if (feature('v6.5.0.0')) {
        .line-item-quantity-select-wrapper select {
            height: 42px;
        }
    } @else {
        .cart-item-quantity-container select {
            height: 42px;
        }
    }
}

.offcanvas-cart-header {
    font-weight: $font-weight-normal;
    font-size: 25px;
    line-height: 34px;
    margin-bottom: $btn-padding-x;
}

.offcanvas-cart-header-count {
    @extend .d-none;
}

.offcanvas-cart-items {
    border-top: $border-width solid $gray-300;
    border-bottom: none;
    margin-top: 0;

    @if (feature('v6.5.0.0')) {
        .line-item-info .line-item-row {
            margin: 0;
        }
    } @else {
        .cart-item-info .line-item-row {
            margin: 0;
        }
    }
}

.offcanvas-cart-actions {
    .begin-checkout-btn {
        @extend .btn-buy;

        font-size: 13px;
        line-height: 42px;
        padding: 0;
        height: 42px;
    }

    .btn-link {
        @extend .btn-outline-primary;

        margin-top: 16px;
    }

    div[data-swag-paypal-express-button='true'] {
        margin-top: 16px;
    }
}
