.scroll-up-button {
    .btn {
        padding: 0;
        width: 42px;
        height: 42px;
        align-items: center;

        &:hover:not(:disabled) {
            .icon {
                color: $btn-scroll-top-icon-color;
            }
        }

        .icon {
            color: $white;
            width: 10px;
            height: 10px;

            svg {
                top: 1px;
            }
        }
    }
}
