/*
Search suggest
==================================================
Contains styles for the search suggest popover in the shop header.
*/

$image-size-sm: 40px;
$image-size-md: 60px;
$image-size-lg: 90px;

$search-suggest-padding-sm: 15px;
$search-suggest-padding-md: 35px;
$search-suggest-padding-lg: 50px;

$search-suggest-max-height-sm: 381px;
$search-suggest-max-height-md: 515px;

.search-suggest-container {
    margin: 0 0 20px;
    top: 8px;
    left: 0;
    right: 0;
    border: none;
    position: relative;
    box-shadow: 0 2px 15px rgba(74, 84, 91, 0.13);
    padding: $search-suggest-padding-sm $search-suggest-padding-sm;
    max-height: $search-suggest-max-height-sm;
    overflow: auto;

    .search-suggest-product-link {
        padding: 14px 0;
        font-size: 11px;
        font-weight: $font-weight-bold;
    }

    .search-suggest-product-image-container {
        border-radius: 2px;
        width: $image-size-md;
        height: $image-size-sm;
        margin: inherit;
    }

    .search-suggest-product-image {
        max-width: 100%;
        max-height: 100%;
    }

    .search-suggest-product-info {
        font-size: $btn-font-size;
        max-width: calc(100% - #{$image-size-md});
    }

    .search-suggest-product-name {
        padding-left: $search-suggest-padding-sm;
    }

    .search-suggest-product-price {
        text-align: left;
        padding-left: $search-suggest-padding-sm;
        padding-right: 0;

        .search-suggest-product-price {
            padding-left: 0;
        }
    }

    @include media-breakpoint-up(md) {
        width: 100%;
        transform: none;
        max-height: $search-suggest-max-height-md;
        padding: $search-suggest-padding-sm $search-suggest-padding-md 24px;

        .search-suggest-product-image-container {
            width: $image-size-lg;
            height: $image-size-md;
        }

        .search-suggest-product-info {
            display: flex;
            justify-content: space-between;
        }
    }

    @include media-breakpoint-up(lg) {
        .search-suggest-product-info {
            font-size: $btn-font-size-lg;
            max-width: calc(100% - #{$image-size-lg});
        }

        .search-suggest-product-link {
            font-size: 14px;
        }
    }
}

.search-suggest-total {
    padding: $search-suggest-padding-sm 0 0;

    .search-suggest-total-link {
        font-size: $btn-font-size;
        width: 100%;
    }

    @include media-breakpoint-up(md) {
        padding-top: $search-suggest-padding-md;
    }
}
