{# SwagEmporiumTheme Copyright (C) 2025 shopware AG #}

{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}

{% block page_product_detail_buy_button_container %}
    {% if config('core.cart.wishlistEnabled') %}
        <div class="col-auto">
            {% block page_product_detail_wishlist %}
                {% sw_include '@Storefront/storefront/component/product/card/wishlist.html.twig' with {
                    showText: false,
                    size: 'md',
                    productId: page.product.id
                } %}
            {% endblock %}
        </div>
    {% endif %}

    <div class="{% if showQuantitySelect %}col-12 col-md{% else %}col{% endif %}">
        {% block page_product_detail_buy_button %}
            <div class="d-grid">
                <button class="btn btn-primary btn-buy"
                        title="{{ "detail.addProduct"|trans|striptags }}"
                        aria-label="{{ "detail.addProduct"|trans|striptags }}">
                    {{ "detail.addProduct"|trans|sw_sanitize }}
                    {% sw_icon 'ic-cart' style { 'pack':'emporium' } %}
                </button>
            </div>
        {% endblock %}
    </div>
{% endblock %}

{% block page_product_detail_buy_quantity_container %}
    {% if showQuantitySelect %}
        <div class="col col-md-5 col-lg-4 d-flex justify-content-end">
            {% set selectQuantityThreshold = 100 %}
            {{ block('page_product_detail_buy_quantity') }}
        </div>
    {% endif %}
{% endblock %}
