{# SwagEmporiumTheme Copyright (C) 2025 shopware AG #}

{% sw_extends '@Storefront/storefront/page/product-detail/description.html.twig' %}

{% block utilities_offcanvas_close_icon %}{% endblock %}

{% block utilities_offcanvas_close_text %}
    {{ "detail.offcanvasCloseDescription"|trans|sw_sanitize }}
{% endblock %}

{% block page_product_detail_description_title %}
    <div class="h3 product-detail-description-title">
        {{ page.product.translated.name }}
    </div>
{% endblock %}
