{% sw_extends '@Storefront/storefront/page/product-detail/index.html.twig' %}

{% block page_product_detail_tabs %}{% endblock %}

{% block page_product_detail_buy %}
    <div class="col-md-5 product-detail-buy" data-auto-scroll="true">
        {% sw_include '@Storefront/storefront/page/product-detail/headline.html.twig' %}

        {% sw_include '@Storefront/storefront/page/product-detail/buy-widget.html.twig' %}

        <div class="product-detail-scroll-up-button" data-buybox-scroll-up="true">
            <button class="btn btn-primary btn-scroll-up">
                {% sw_icon 'chevron-up' style { 'pack': 'emporium' } %}
            </button>
        </div>
    </div>
{% endblock %}
