{% sw_extends '@Storefront/storefront/element/cms-element-product-slider.html.twig' %}

{% block element_product_slider_controls_items_prev_icon %}
    {% sw_icon 'arrow-head-left' style { 'pack': 'emporium' } %}
{% endblock %}

{% block element_product_slider_controls_items_next_icon %}
    {% sw_icon 'arrow-head-right' style { 'pack': 'emporium'} %}
{% endblock %}

{% block element_product_slider_alignment %}
    {% if config.verticalAlign.value %}
        <div class="cms-element-alignment{% if sliderConfig.verticalAlign.value == "center" %} align-self-center{% elseif sliderConfig.verticalAlign.value == "flex-end" %} align-self-end{% else %} align-self-start{% endif %}">
    {% endif %}

    {% set productSliderOptions = {
        productboxMinWidth: sliderConfig.elMinWidth.value ? sliderConfig.elMinWidth.value : '',
        slider: {
            gutter: 30,
            autoplayButtonOutput: false,
            nav: sliderConfig.displayDots.value ?? false,
            mouseDrag: sliderConfig.navigation.value ? false : true,
            controls: sliderConfig.navigation.value ? true : false,
            autoplay: sliderConfig.rotate.value ? true : false,
            edgePadding: sliderConfig.edgePadding.value ?? 0,
            responsive: {
                'xs': {
                    items: sliderConfig.mobileItems.value
                }
            }
        }
    } %}

    {{ block('element_product_slider_slider') }}

    {% if config.verticalAlign.value %}
        </div>
    {% endif %}
{% endblock %}
