.is-ctl-b2bcompany {
    .companyFilterTypeContainer {
        select {
            padding-right: 45px;
            line-height: 15px;
        }
    }

    .col-status {
        svg {
            transform: scale(2);
        }
    }

    div[data-id='contact-tab-content'],
    div[data-id='role-tab-content'] {
        .ml-2.pl-4 {
            padding-left: 10px !important;
            margin-bottom: 10px;
        }

        .is--assignment-tree {
            .custom-control-label {
                &:before,
                &:after {
                    top: 13px;
                }
            }
        }
    }
}
