.basic-captcha-content {
    &-code {
        gap: 10px;
    }

    &-refresh-icon {
        height: auto;
        align-self: stretch;

        &:hover {
            background-color: $white !important;
        }
    }

    &-image img {
        height: 100%;
    }
}

.captcha-google-re-captcha-v3 {
    color: $smoke-text-color;

    .grecaptcha-protection-information {
        font-size: $font-size-sm;
    }
}
