.breadcrumb {
    padding-top: 24px;
    padding-bottom: 16px;

    &:empty {
        padding: 0;
        margin: 0;
    }

    .breadcrumb {
        padding: 0;
        margin: 0;
    }

    a {
        color: $sw-color-brand-primary;
        font-size: $font-size-small;

        &.is-active {
            font-weight: $font-weight-normal;
            color: $gray-400;
        }
    }

    .breadcrumb-placeholder {
        color: $gray-300;
    }

    &.cms-breadcrumb {
        padding-left: $container-padding;
        padding-right: $container-padding;
    }
}
