.btn {
    font-weight: $btn-font-weight;
    @include disable-button($disabled-btn-primary-bg, $disabled-btn-color, $disabled-btn-primary-border-color);
}

@each $color, $value in $theme-colors {
    @if ($color != 'light') {
        .btn-#{$color}:hover:not(:disabled) {
            background-color: $white;
            border-color: $value;
            color: $value;
        }
    }
}

.btn-secondary,
.btn-outline-secondary:hover {
    color: $white;
}

.btn-secondary {
    @include disable-button($disabled-btn-secondary-bg, $disabled-btn-color, $disabled-btn-secondary-border-color);
}

.btn-light {
    @include disable-button($disabled-btn-light-bg, $disabled-btn-color, $disabled-btn-light-border-color);
    background-color: $gray-100;
    color: $top-and-bottom-color;

    &:hover:not(:disabled) {
        background-color: $sw-border-color;
    }
}

.btn-buy {
    @include disable-button($disabled-btn-primary-bg, $disabled-btn-color, $disabled-btn-primary-border-color);

    &:hover:not(:disabled) {
        background-color: $white;
        border-color: $sw-color-buy-button;
        color: $sw-color-buy-button;
    }
}
