.btn {
    font-weight: $btn-font-weight;
    @include disable-button($disabled-btn-primary-bg, $disabled-btn-color, $disabled-btn-primary-border-color);

    &.show {
        border-color: transparent;
    }

    &.btnx-lg {
        line-height: 58px;
    }
}

@each $color, $value in $theme-colors {
    @if ($color != 'light') {
        .btn-#{$color}:hover:not(:disabled) {
            background-color: $white;
            border-color: $value;
            color: $value;
        }
    }
}

.btn-secondary,
.btn-outline-secondary:hover {
    color: $white;
}

.btn-outline-primary {
    background-color: $white;
    color: $sw-color-brand-primary;

    &:not(:disabled):not(.disabled) {
        &:hover,
        &:focus,
        &:active {
            color: $white;
            background-color: $sw-color-brand-primary;
        }
    }

    &:disabled,
    &.disabled {
        background-color: $disabled-btn-secondary-bg;
    }
}

.btn-outline-danger {
    &:hover {
        color: $danger;
    }
}

.btn-secondary {
    @include disable-button($disabled-btn-secondary-bg, $disabled-btn-color, $disabled-btn-secondary-border-color);
}

.btn-light {
    @include disable-button($disabled-btn-light-bg, $disabled-btn-color, $disabled-btn-light-border-color);
    background-color: $gray-100;
    color: $top-and-bottom-color;

    &:hover:not(:disabled) {
        background-color: $sw-border-color;
    }
}

.btn-link {
    &:hover {
        text-decoration: none;
    }
}

.btn-buy {
    line-height: 42px;
    padding: 0;

    @include media-breakpoint-up(lg) {
        line-height: 60px;
    }

    @include disable-button($disabled-btn-primary-bg, $disabled-btn-color, $disabled-btn-primary-border-color);

    &:hover:not(:disabled) {
        background-color: $white;
        border-color: $sw-color-buy-button;
        color: $sw-color-buy-button;
    }
}

.btn-primary:not(.btn-buy):not(.begin-checkout-btn) {
    @include button-variant($primary, $primary);
}
