.checkout-card {
    .card-title {
        font-size: 10px;
        letter-spacing: 1px;
        color: $gray-800;
        text-transform: uppercase;
        border-width: 2px;
        border-color: $gray-800;
        margin-bottom: 1rem;
        display: inline-block;
        width: max-content;
    }

    .card-body {
        color: $smoke-text-color;
        line-height: 24px;
    }

    @include media-breakpoint-up(lg) {
        .card-title {
            margin-bottom: 26px;
        }
    }
}
