.category-navigation {
    padding-left: 20px;

    &[class*='level-'] {
        &:not(.level-0) {
            .category-navigation-link {
                font-size: $font-size-base;
                padding: 8px 0;
            }
        }
    }

    &[class*='level-0'] {
        font-size: $font-size-base;
        line-height: 24px;

        > .category-navigation-entry {
            border-bottom: none;

            > .category-navigation-link {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;
            }
        }
    }

    &[class*='level-1'] {
        padding-left: 10px;
        padding-bottom: 10px;
    }

    &[class*='level-2'] {
        .category-navigation {
            padding-left: 14px;
            position: relative;

            &::before {
                content: '';
                display: block;
                position: absolute;
                height: 100%;
                width: 1px;
                background: $gray-300;
                left: 0;
                top: 0;
            }

            .category-navigation-entry {
                .category-navigation-link {
                    font-size: 13px;
                    line-height: 18px;
                }
            }
        }
    }

    &[class*='level-3'] {
        .category-navigation {
            .category-navigation-entry {
                .category-navigation-link {
                    padding: 5px 0;
                }
            }
        }
    }

    .category-navigation-link {
        padding: 10px 0;

        &:not(.in-path):not(.is-active) {
            color: $smoke-text-color;
        }

        &.in-path {
            font-weight: $font-weight-bold;
        }
    }
}
