.cms-element-product-listing-actions {
    padding: 0;
    margin-bottom: 24px;
    gap: 12px;

    > .col-md-auto {
        + .col-md-auto {
            flex-grow: 1;
        }
    }

    .sorting {
        margin-top: 0;
    }
}

.cms-element-image-gallery {
    .gallery-slider-row {
        min-height: inherit;
    }

    .gallery-slider,
    .tns-outer,
    .tns-ovh,
    .tns-inner,
    .gallery-slider-item-container {
        height: 100%;
    }

    .gallery-slider-thumbnails-col.is-left {
        .gallery-slider-thumbnails-controls[style] {
            display: block !important;

            .gallery-slider-thumbnails-controls-next,
            .gallery-slider-thumbnails-controls-prev {
                cursor: default;
                opacity: 0.1;
            }
        }

        .gallery-slider-thumbnails-controls-next,
        .gallery-slider-thumbnails-controls-prev {
            background-color: transparent;
            width: 100%;
            height: auto;
        }

        .gallery-slider-thumbnails-controls-prev {
            top: -55px
        }

        .gallery-slider-thumbnails-controls-next {
            bottom: -45px;

            .icon {
                transform: rotate(180deg);
            }
        }

        .gallery-slider-thumbnails-container {
            margin-top: 50px;
            margin-bottom: 50px;
            align-items: stretch;
        }
    }

    .icon.icon-emporium {
        color: $sw-text-color;
    }

    .gallery-slider-thumbnails-image {
        width: 100%;
        object-fit: cover;
    }

    @include media-breakpoint-up(md) {
        min-height: 668px;

        .gallery-slider {
            .tns-outer {
                padding-bottom: 40px !important;
            }
        }
    }
}

.cms-element-manufacturer-logo {
    display: flex;
    gap: 4px;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
}

.cms-element-buy-box {
    .product-detail-price-container {
        row-gap: 7px;
    }
}

.cms-element-form {
    max-width: 1098px;
    margin: 0 auto;

    .form-info-required {
        padding-bottom: 26px;
        border-bottom: $border-width solid $gray-300;
        margin-bottom: 24px;
    }

    .btn-primary {
        width: 100%;
    }

    .form-group {
        margin-top: 0;
        margin-bottom: 10px;
    }

    &.newsletter {
        .form-privacy {
            order: 1;
            margin-bottom: 18px;

            > div:not(.form-text) {
                display: none;
            }

            small {
                color: $gray-400;
                display: block;
                margin-top: 10px;
            }
        }

        .form-content {
            display: flex;
            flex-direction: column;
        }

        .btn-primary {
            order: 1;
            width: auto;
            margin-left: auto;
            text-transform: uppercase;
        }

        .form-info-required {
            margin-top: 6px;
            margin-bottom: 16px;
        }

        .captcha-google-re-captcha-v3 {
            font-size: $font-size-sm;
        }
    }
}

.cms-element-text,
.cms-element-image,
.cms-element-product-box,
.cms-element-buy-box,
.cms-element-product-slider,
.cms-element-image-slider,
.cms-element-product-description-reviews,
.cms-element-image-gallery,
.cms-element-form {
    text-align: left;
}

@include media-breakpoint-up(md) {
    .cms-element-form {
        &.contact {
            .form-info-required {
                margin-top: 18px;
                padding-bottom: 36px;
                margin-bottom: 34px;
            }

            .btn-primary {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 238px;
            }

            .captcha-google-re-captcha-v3 {
                margin-bottom: 16px;
            }
        }

        .form-group {
            margin-bottom: 14px;
        }
    }

    .cms-element-product-listing-actions {
        flex-wrap: nowrap;
        
        > .col-md-auto {
            &:first-child {
                padding-right: 0;
                padding-left: 260px;
                flex-grow: 1;
            }

            + .col-md-auto {
                flex-basis: 260px;
                flex-grow: 0;
                flex-shrink: 1;
                text-align: right;
            }
        }
    }        
}

@include media-breakpoint-up(lg) {
    .cms-element-form {
        &.contact {
            .btn-primary {
                width: 277px;
            }
        }
    }
}
