.cms-section-sidebar {
    .cms-section-sidebar-sidebar-content {
        padding: 0;
    }

    @include media-breakpoint-up(lg) {
        .cms-block-category-navigation {
            max-width: 320px;

            .cms-page-default & {
                max-width: 280px;
            }
        }
    }

    .filter-panel-offcanvas-header {
        padding: 0;
        margin-bottom: 10px;
        height: unset;
    }
}
