.cms-block {
    .cms-block-container {
        h3 {
            border-bottom: 1px solid $border-color;
            font-size: 0;
            line-height: 0;
            margin-bottom: 0;
        }
    }

    &.cms-block-gallery-buybox {
        overflow: visible;
    }

    &.cms-block-sidebar-filter {
        .cms-block-container-row {
            &:before,
            &::after {
                content: "";
                display: block;
                width: 100%;
                border-bottom: 1px solid $border-color;
            }

            &:before {
                margin-bottom: 24px;
            }

            &::after {
                margin-top: 14px;
            }

            > .col-12 {
                padding: 0;
            }

            @include media-breakpoint-up(lg) {
                &::after {
                    margin-top: 24px;
                }
            }
        }
    }

    &.cms-block-product-heading {
        margin-bottom: 26px;
    }

    .cms-element-form {
        .card-title {
            font-weight: $font-weight-normal;
            font-size: 24px;
            line-height: 34px;
            color: $top-and-bottom-color;
        }
    }

    .cms-element-text {
        h2 {
            font-weight: $font-weight-normal;
            color: $top-and-bottom-color;
        }

        p {
            color: $gray-400;
        }
    }

    &.cms-block-product-listing {
        overflow: visible;
        .cms-block-container-row {
            > .col-12 {
                padding: 0;
            }
        }
    }
}

.cms-page-default {
    .cms-element-text {
        margin-bottom: 34px;
    }
    .cms-block-image-text {
        .cms-block-container {
            padding: 0 !important;
        }
        .cms-block-container-row {
            flex-direction: column;
            margin: 0;
            padding: 0;
            max-width: none;
        }
        .col-md-6:first-child {
            max-width: none;
            padding: 0;
        }
        .col-md-6:last-child {
            margin-top: 50px;
            @extend .container;
        }
    }
    .cms-block-product-listing {
        .cms-block-container {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }
}
