.cms-block {
    &.cms-block-gallery-buybox {
        overflow: visible;

        .gallery-slider-thumbnails-container {
            &:not(.is-underneath) {
                .gallery-slider-thumbnails-item {
                    width: 120px;
                    height: 80px;
                    flex-shrink: 0;
                }
            }
        }

        .gallery-slider-thumbnails-item {
            height: 80px;
            flex-shrink: 0;

            &.tns-nav-active {
                .gallery-slider-thumbnails-item-inner {
                    border: $border-width solid $primary;
                }
            }

            .gallery-slider-thumbnails-item-inner {
                padding: 0;
            }
        }

        .product-detail-media,
        .product-detail-buybox {
            @extend .col-12;
        }

        .product-detail-media {
            @extend .col-md-7;
        }

        .product-detail-buybox {
            @extend .col-md-5;
        }

        @include media-breakpoint-up(lg) {
            .product-detail-buy {
                padding-left: 25px !important;
            }
        }
    }

    &.cms-block-sidebar-filter {
        .cms-block-container-row {
            > .col-12 {
                padding: 0;
            }
        }
    }

    &.cms-block-product-heading {
        margin-bottom: 0;

        .product-heading-name-container,
        .product-heading-manufacturer-logo-container {
            padding-left: 0;
        }
    }

    .cms-element-form {
        .card-title {
            font-weight: $font-weight-normal;
            font-size: $h3-font-size;
            line-height: 34px;
            color: $top-and-bottom-color;
        }
    }

    .cms-element-text {
        h2 {
            font-weight: $font-weight-normal;
            color: $top-and-bottom-color;
        }

        p {
            color: $gray-400;
        }
    }

    &.cms-block-product-listing {
        overflow: visible;

        .cms-block-container-row {
            > .col-12 {
                padding: 0;
            }
        }
    }

    &.cms-block-product-description-reviews {
        .product-detail-review-content {
            gap: 0;
        }

        .product-detail-review-teaser {
            margin-top: 16px;

            p {
                display: none;
            }
        }

        .product-detail-accordion {
            @extend .col-8, .offset-4;
            margin-bottom: 10px;

            .btn-buy,
            .collapse,
            .collapsing {
                position: relative;
            }

            + .product-detail-review-main {
                @extend .offset-4;
            }
        }

        .product-detail-review-main {
            @extend .col-8;
            padding-top: 56px;
        }

        .product-detail-review-login {
            max-width: 700px;

            .form-label {
                display: none;
            }

            .form-row > * {
                width: 100%;
                max-width: none;
                flex-basis: 100%;
            }

            .login-actions {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        .product-detail-review-list {
            hr {
                display: none;
            }
        }

        .product-detail-review-counter.text-right {
            margin-bottom: 30px;
        }

        .product-detail-review-form-rating,
        .product-detail-review-form-title,
        .product-detail-review-form-content,
        .product-detail-review-form-footer {
            @extend .col-12;
        }

        .product-detail-review-form-content {
            padding: 0;
        }

        .product-detail-review-info {
            @extend .col-4;
        }

        .product-detail-alert {
            display: none;

            ~ .product-detail-accordion {
                margin-top: -100px;
            }

            &:not(:empty) {
                display: block;
                @extend .col-8;

                + .multi-collapse {
                    @extend .offset-4;
                    margin-top: -50px;
                }

                ~ .product-detail-review-main,
                ~ .product-detail-accordion {
                    margin-top: 0;
                }
            }
        }

        .alert {
            align-self: flex-end;
        }

        .product-detail-review-item-hint {
            padding: 0;

            .alert {
                margin-left: 0;
            }
        }

        .product-detail-review-rating {
            margin-bottom: 10px;
        }

        .multi-collapse {
            @extend .col-12;

            max-width: 656px;
            width: 100%;
            margin-left: 0;

            &.show,
            &.collapsing {
                ~ .product-detail-accordion,
                ~ .product-detail-review-actions,
                ~ .product-detail-review-list-content {
                    display: none;
                }
            }

            &.product-detail-review-list {
                @extend .col-12;
            }
        }

        .product-detail-review-language {
            @extend .col-xl-3;
        }

        @include media-breakpoint-down(if(feature('V6_5_0_0'), md, sm)) {
            .product-detail-tab-navigation-link {
                text-transform: none;
            }
        }

        @include media-breakpoint-down(if(feature('V6_5_0_0'), xl, lg)) {
            .product-detail-review-main > .multi-collapse,
            .product-detail-review-item-info .alert {
                width: 100%;
            }

            .product-detail-review-filter {
                flex-basis: calc(25% - 10px);
                flex-grow: 0;
            }
        }

        @include media-breakpoint-up(md) {
            &.cms-block-gallery-buybox {
                .cms-block-container-row {
                    border-bottom: $border-width solid $border-color;
                }
            }
        }

        @include media-breakpoint-up(xl) {
            .product-detail-accordion {
                margin-bottom: -35px;

                .btn-buy,
                .collapse,
                .collapsing {
                    margin-left: auto;
                    max-width: 570px;
                    margin-bottom: 0;
                }
            }

            .product-detail-alert {
                ~ .product-detail-accordion {
                    margin-top: 0;
                }
            }
        }
    }

    .boxed {
        padding: 0;

        > .col-12 {
            padding: 0;
        }
    }

    &.cms-block-form {
        overflow: visible;
    }

    &-product-three-column {
        .cms-block-container-row {
            gap: $grid-gutter-width;
        }

        .cms-element-product-box {
            height: 100%;
        }

        .product-box {
            &.box-minimal {
                .product-image-wrapper {
                    height: unset;
                }
            }
        }
    }

    @include media-breakpoint-down(if(feature('V6_5_0_0'), lg, md)) {
        &.cms-block-gallery-buybox {
            .product-detail-media {
                max-width: none;
                flex-basis: 100%;
            }
        }
    }

    @include media-breakpoint-down(if(feature('V6_5_0_0'), xl, lg)) {
        &.cms-block-gallery-buybox {
            .product-detail-media {
                padding: 0;
            }

            .product-detail-buy {
                padding: 0;
            }
        }

        &.cms-block-product-description-reviews {
            .product-detail-tabs {
                padding: 0;
            }
        }

        &.cms-block-cross-selling {
            .col-12 {
                padding: 0;
            }

            .cms-element-title {
                text-transform: uppercase;
            }
        }
    }

    @include media-breakpoint-up(md) {
        &.cms-block-gallery-buybox {
            .cms-block-container-row {
                border-bottom: $border-width solid $border-color;
            }
        }

        &-product-three-column {
            .cms-block-container-row {
                gap: 0;
            }
        }
    }
}

.cms-page-default {
    .cms-element-text {
        margin-bottom: 34px;
    }

    .cms-block-image-text {
        .cms-block-container-row {
            flex-direction: column;
            margin: 0;
            padding: 0;
            max-width: none;
        }

        .col-md-6:first-child {
            max-width: none;
            padding: 0;
            width: auto;
        }

        .col-md-6:last-child {
            margin-top: 50px;
            @extend .container;
        }

        .cms-block-container {
            @extend .px-0;
            padding-top: 0 !important;
        }
    }

    .cms-block-product-listing,
    .cms-block-form,
    .cms-block-category-navigation {
        .cms-block-container {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }
}
