.cms-block {
    .cms-block-container {
        h3 {
            border-bottom: 1px solid $border-color;
            font-size: 0;
            line-height: 0;
            margin-bottom: 0;
        }
    }

    &.cms-block-gallery-buybox {
        overflow: visible;
    }

    &.cms-block-sidebar-filter {
        .cms-block-container-row {
            &:before,
            &::after {
                content: "";
                display: block;
                width: 100%;
                border-bottom: 1px solid $border-color;
            }

            &:before {
                margin-bottom: 24px;
            }

            &::after {
                margin-top: 14px;
            }

            > .col-12 {
                padding: 0;
            }

            @include media-breakpoint-up(lg) {
                &::after {
                    margin-top: 24px;
                }
            }
        }
    }

    &.cms-block-product-heading {
        margin-bottom: 26px;
    }

    .cms-element-form {
        .card-title {
            font-weight: $font-weight-normal;
            font-size: 24px;
            line-height: 34px;
            color: $top-and-bottom-color;
        }
    }

    .cms-element-text {
        h2 {
            font-weight: $font-weight-normal;
            color: $top-and-bottom-color;
        }

        p {
            color: $gray-400;
        }
    }

    &.cms-block-product-listing {
        overflow: visible;
        .cms-block-container-row {
            > .col-12 {
                padding: 0;
            }
        }
    }

    .sw-cms-form-cover-image {
        object-fit: cover;
    }

    &-product-heading .cms-block-container:first-child {
        @extend .p-0;
    }

    &-gallery-buybox .cms-block-container:first-child {
        @extend .p-0;
    }

    @include media-breakpoint-up(md) {
        &.cms-block-text-two-column {
            .cms-element-form {
                padding: 50px;
            }
        }

        .sw-cms-form-content {
            padding-top: $cms-form-top-and-bottom-padding;
            padding-bottom: $cms-form-top-and-bottom-padding;
        }

        .sw-cms-form-cover-image {
            min-height: $cms-form-cover-image-height;
        }
    }

    @include media-breakpoint-down(md) {
        &.cms-block-text-two-column {
            .cms-element-form {
                padding-top: 50px;
            }
        }

        .sw-cms-form-content {
            padding-top: 0px;
            padding-bottom: 50px;
        }

        .sw-cms-form-cover-image {
            max-height: $cms-form-cover-image-height;
        }
    }

    @include media-breakpoint-down(sm) {
        &.cms-block-image-text .cms-row > :first-child,
        &.cms-block-image-text-cover .cms-row > :first-child {
            margin-bottom: 0;
        }

        .sw-cms-form-cover-image {
            max-height: $cms-form-cover-image-height-sm;
        }
    }
}

.cms-page-default {
    .cms-element-text {
        margin-bottom: 34px;
    }
    .cms-block-image-text {
        .cms-block-container {
            padding: 0 !important;
        }
        .cms-block-container-row {
            flex-direction: column;
            margin: 0;
            padding: 0;
            max-width: none;
        }
        .col-md-6:first-child {
            max-width: none;
            padding: 0;
        }
        .col-md-6:last-child {
            margin-top: 50px;
            @extend .container;
        }
    }
    .cms-block-product-listing {
        .cms-block-container {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }
}
