.cms-section-sidebar {
    .cms-section-sidebar-sidebar-content {
        padding: 0;
        @include media-breakpoint-up(lg) {
            max-width: 251px;
        }
    }
    .filter-panel-offcanvas-header {
        padding: 0;
        margin-bottom: 10px;
        height: unset;
    }
}
