/*
Custom Select
==============================================
Custom skin styling for bootstrap custom select menu.

https://getbootstrap.com/docs/4.3/components/forms/#select-menu
*/

.custom-select {
    outline: none;

    &:disabled {
        color: $gray-700;
        background-color: $white;
    }

    &:invalid {
        color: $input-placeholder-color;
    }

    &:hover {
        @if (feature('v6.5.0.0')) {
            border-color: $form-select-border-color;
        } @else {
            border-color: $custom-select-border-color;
        }
        color: $input-color;
    }
}
