.custom-switch {
    .custom-control-label {
        line-height: $font-size-base * $line-height-base;

        &::before {
            border-radius: 8px;
            background-color: $gray-200;
            height: 18px;
        }

        &::after {
            border-radius: 50%;
            background-color: $primary;
            top: 6px;
            left: -32px;
        }

        small {
            font-size: 100%;
        }
    }

    .custom-control-input:checked ~ .custom-control-label::after {
        background-color: $white;
    }

    .custom-control-input:disabled {
        &:checked ~ .custom-control-label {
            &::after {
                background-color: $gray-700;
            }

            &::before {
                border-color: $custom-control-indicator-checked-disabled-bg;
            }
        }

        .custom-control-label {
            &::before {
                background-color: $custom-control-indicator-checked-disabled-bg;
                border-color: $custom-control-indicator-checked-disabled-bg;
            }

            &::after {
                background-color: $gray-700;
            }
        }
    }
}
