/*
Custom Select
==============================================
Custom skin styling for bootstrap custom select menu.

https://getbootstrap.com/docs/4.3/components/forms/#select-menu
*/

.custom-select {
    outline: none;
    line-height: 15px;
    background-image: str-replace(url("data:image/svg+xml, %3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6 9L12 15L18 9' stroke='#{$gray-900}' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e"), '#', '%23');

    &:disabled {
        color: $gray-700;
        background-color: $white;
    }

    &:invalid {
        color: $input-placeholder-color;
    }

    &:hover {
        border-color: $form-select-border-color;
        color: $input-color;
    }
}
