.custom-switch {
    .custom-control-label {
        line-height: $font-size-base * $line-height-base;

        &::before {
            border-radius: 8px;
            background-color: $gray-200;
            height: 18px;
        }

        &::after {
            border-radius: 50%;
            background-color: $primary;
            top: 6px;
            left: -32px;
        }

        small {
            font-size: 100%;
        }
    }

    .custom-control-input:checked ~ .custom-control-label::after {
        background-color: $white;
    }

    .custom-control-input:disabled {
        &:checked ~ .custom-control-label {
            &::after {
                background-color: $gray-700;
            }

            &::before {
                border-color: $custom-control-indicator-checked-disabled-bg;
            }
        }

        .custom-control-label {
            &::before {
                background-color: $custom-control-indicator-checked-disabled-bg;
                border-color: $custom-control-indicator-checked-disabled-bg;
            }

            &::after {
                background-color: $gray-700;
            }
        }
    }
}

// @deprecated tag:v6.5.0
.custom-checkbox {
    display: flex;
    align-items: center;
    height: 100%;

    .custom-control-label {
        cursor: pointer;
        line-height: $font-size-base * $line-height-base;

        &::before {
            @include box-shadow(none);

            top: 50%;
            transform: translateY(-50%);
            border-radius: $border-radius-lg;
            background: $white;
            border-color: $gray-300;
            width: 12px;
            height: 12px;
        }

        &::after {
            width: 1rem;
            height: 1rem;
            top: 50%;
            transform: translate(-2px, -50%);
        }
    }

    .custom-control-input:disabled {
        &:checked ~ .custom-control-label::before {
            background-color: $primary;
            opacity: 0.5;
        }
    }
}


.custom-control-input {
    ~ .custom-control-label {
        font-size: $font-size-sm;
        letter-spacing: 0;
    }
}

.custom-radio {
    strong {
        line-height: 29px;
    }

    .custom-control-label {
        cursor: pointer;

        &::before {
            top: 4px;
        }
    }

    .custom-control-label::after {
        top: 4px;
    }

    .custom-control-input:checked ~ .custom-control-label {
        strong {
            font-weight: $font-weight-bold;
        }

        &::after {
            background-image: str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='#fff'/%3e%3c/svg%3e"), "#", "%23");
        }
    }

    .custom-control-input:disabled {
        &:checked ~ .custom-control-label::before {
            background-color: $custom-control-indicator-checked-disabled-bg;
            border-color: $custom-control-indicator-checked-disabled-bg;
        }
    }
}


.custom-select {
    background-size: 1.5rem 1.5rem;

    &-sm {
        padding-right: 46px;
    }
}
