.delivery-information {
    display: flex;
    align-items: center;

    .delivery-status-indicator {
        height: 16px;
        width: 16px;
        flex-shrink: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        .icon {
            height: 100%;
            width: 100%;
            color: $white;

            > svg {
                top: 0;
            }
        }
    }

    &.delivery-preorder,
    &.delivery-information {
        .delivery-status-indicator.bg-warning .icon {
            width: 15px;
            height: 15px;
        }
    }

    @include media-breakpoint-up(md) {
        .delivery-status-indicator {
            height: 12px;
            width: 12px;
        }
    }

    @include media-breakpoint-up(xl) {
        .delivery-status-indicator {
            height: 24px;
            width: 24px;
        }
    }
}
