.dropdown-menu {
    @extend .dropdown-menu-end;

    &.open-in-center {
        left: 50% !important;
        transform: translateX(-50%) !important;
        padding: 24px;
        min-width: 340px;
    }
}
