$icon-star: url('#{$asset-path}/icon/icon-pack/ic-star.svg');
$icon-star-fill: url('#{$asset-path}/icon/icon-pack/ic-star-filled.svg');
$icon-check: url('#{$asset-path}/icon/icon-pack/ic-check.svg');

.filter-panel {
    margin-bottom: 0;
    gap: 24px;

    &-wrapper {
        display: block;
    }

    &-items-container {
        gap: 5px;
        margin-bottom: 0;
        display: none;

        @include media-breakpoint-up(lg) {
            gap: 24px;
            display: flex;
        }
    }

    &-active-container {
        display: none;

        &:not(:empty) {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            width: 100%;

            @include media-breakpoint-down(if(feature('V6_5_0_0'), lg, md)) {
                padding: 14px 0;
                border-bottom: $border-width solid $border-color;
            }
        }
    }

    .filter-panel-item {
        margin: 0;
        flex-grow: 6;
        position: relative !important;
        font-size: $font-size-small;

        &.show {
            .global-collapse-plus-icon {
                display: none;
            }

            .global-collapse-minus-icon {
                display: block;
            }
        }

        .filter-panel-item-toggle {
            background: $gray-100;
            border-color: $gray-100;
            display: flex;
            width: 100%;
            align-items: center;

            &:focus {
                box-shadow: unset;
            }
        }

        .filter-panel-item-dropdown {
            width: 100%;
            top: -6px !important;
            background: $gray-100;
            border-color: $gray-100;

            &:not(.dropdown-menu) {
                margin-top: 6px;
            }
        }

        .global-collapse-column-toggle {
            float: right;
            margin-left: auto;

            .icon {
                color: currentColor;

                > svg {
                    top: 4px;
                }
            }

            .global-collapse-plus-icon,
            .global-collapse-minus-icon {
                .icon {
                    height: 14px;
                    width: 14px;
                }
            }

            .global-collapse-plus-icon svg {
                transform: rotate(180deg);
            }
        }

        .global-collapse-minus-icon {
            display: none;
        }

        .filter-multi-select-count {
            margin-left: 10px;
            margin-right: 10px;

            &:empty {
                margin: 0;
            }
        }

        .filter-multi-action {
            margin-left: auto;
        }

        @include media-breakpoint-up(lg) {
            flex-basis: 270px;
            max-width: 270px;
        }
    }

    .filter-active {
        border-color: $gray-300;
        border-radius: 1px;
        color: $gray-400;
        margin: 0;

        &:hover,
        &:active {
            border-color: $primary-darken;
        }
    }

    :is(.filter-active, .filter-reset-all) {
        border-radius: 1px;
        font-size: $font-size-small;
        background-color: $white;
    }

    .filter-reset-all {
        padding-top: 2px;
    }

    .filter-active-remove {
        color: $gray-600;
        font-size: 0 !important;
        width: auto;

        &::after {
            content: '';
            background: url('#{$asset-path}/icon/icon-pack/ic-close.svg') no-repeat center/1rem;
            height: 20px;
            width: 20px;
            display: block;
        }
    }

    @include media-breakpoint-down(md) {
        .filter-active-preview {
            display: none;
        }

        .filter-active-remove {
            font-size: 11px;
            right: -6px;
            top: 1px;
        }

        .filter-panel-active-container {
            width: 100%;
            margin-top: 0;
        }

        .filter-multi-select,
        .filter-range,
        .filter-rating {
            width: 100%;
        }

        .filter-panel-item {
            margin-right: 0;
            max-width: 100%;

            .filter-panel-item-toggle {
                width: 100%;
                max-width: 100%;
            }

            .filter-panel-item-dropdown {
                transform: none !important;
                background-color: $gray-100;
                border-color: $gray-100;
                width: 100%;
                max-width: 100%;
            }

            &.show,
            .filter-panel-item-dropdown {
                position: static !important;
            }

            &.show {
                .filter-multi-name {
                    font-weight: 500;
                }
            }
        }
    }
}

.btn.filter-panel-wrapper-toggle {
    @extend .btn-lg, .btn-outline-primary;
    height: 42px;
    line-height: normal;
    font-size: 13px;

    &:hover {
        color: $white;
        background-color: $sw-color-brand-primary;
    }

    .icon {
        display: none;
    }
}

.filter-active-preview {
    width: 18px;
    height: 18px;
    border-radius: 1px;
    border: none;
    margin-right: 5px;
    margin-top: -2px;
    vertical-align: middle;

    &::after {
        content: '';
        background-image: $icon-check;
        background-position: center center;
        background-size: 12px;
        background-repeat: no-repeat;
        width: 18px;
        height: 18px;
        display: block;
    }
}

.filter-panel-item-toggle {
    .icon > svg {
        top: 5px;
    }
}

.filter-active-icon {
    width: 76px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    height: 12px;
    font-size: 0;
    top: -1px;

    &::before {
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
        z-index: 1;
        content: '';
        background-image: $icon-star;
        background-size: 13px;
        background-position: 0;
        background-repeat: space;
    }

    > span {
        display: inline-block;
        height: 12px;
        padding-right: 1px;

        &::before {
            content: '';
            width: 100%;
            height: 100%;
            background-image: $icon-star-fill;
            background-size: 13px;
            background-position: 0;
            background-repeat: space;
            display: block;
        }
    }
}

.offcanvas-filter {
    .filter-panel-offcanvas-header {
        background-color: $top-and-bottom-color;
        padding: 16px 24px;
        height: auto;
        margin-bottom: 24px;

        .icon {
            color: $white;
        }
    }

    .icon {
        width: 1rem;
        height: 1rem;

        svg {
            top: 0;
        }
    }

    .filter-panel-offcanvas-title {
        color: $white;
        font-size: 13px;
        font-weight: $font-weight-bold;
    }

    .filter-panel-items-container {
        display: flex;
        gap: 10px;
    }

    .filter-panel-active-container {
        display: none;
    }

    .filter-panel-item {
        flex-basis: 100%;
    }

    @include media-breakpoint-up(md) {
        &.is-bottom {
            right: 0;
            transform: translateX(100%);
            bottom: auto;
            height: 100%;
            width: 528px;
        }
    }
}

.cms-block-sidebar-filter {
    .filter-panel-items-container {
        display: none !important;

        @include media-breakpoint-up(lg) {
            display: flex !important;
        }
    }

    .is--sidebar {
        .filter-panel-items-container {
            display: flex;
            gap: 5px;

            .filter-panel-item .filter-panel-item-toggle {
                background-color: $gray-100;
            }
        }
    }
}

.collapse-toogle {
    .icon {
        color: currentColor;
    }
}
