$line-item-img-size: 100px;
$line-item-space-sm: 18px;
$line-item-space: 24px;

.line-item {
    padding: $line-item-space-sm 0;

    &:nth-of-type(2) {
        border-top: 1px solid $border-color;
    }

    &-row {
        position: relative;
    }

    &-info {
        margin-bottom: 0;
        width: 100%;

        .line-item-row {
            width: 100%;
        }
    }

    &-ordernumber {
        margin-top: 5px;
        margin-bottom: 0;
    }

    &-info-img {
        position: absolute;
        top: 0;
        left: 0;
    }

    &-img-container,
    &-img {
        height: $line-item-img-size;
        width: $line-item-img-size;
        border: none;
        padding: 0;
    }

    &-info-img,
    &-details {
        padding: 0;
    }

    &-details {
        @include media-breakpoint-up(sm) {
            @include make-col(12);
        }
        @include media-breakpoint-up(md) {
            @include make-col(12);
        }
    }

    &-label {
        font-size: $btn-font-size;
        font-weight: $font-weight-bold;
        color: $top-and-bottom-color;
        width: calc(100% - 30px);
        display: block;
    }

    &-ordernumber,
    &-delivery-date {
        font-size: 10px;
        font-weight: $font-weight-base;
        color: $smoke-text-color;
    }

    .product-wishlist {
        position: initial;
        margin-top: 5px;

        .icon-wishlist {
            svg {
                top: 0;
            }
        }
    }

    &-quantity,
    &-tax-price,
    &-unit-price,
    &-total-price,
    &-details {
        padding-left: $line-item-img-size + $line-item-space-sm;
    }

    &-quantity {
        margin-top: 14px;
        margin-bottom: 14px;

        @if (feature('V6_5_0_0')) {
            &-row {
                @extend .g-0;
            }
        }

        &-label {
            display: none;
        }
    }

    &-quantity-select-wrapper {
        width: 100%;
        padding-left: 0;

        .line-item-quantity {
            @extend .d-block;
            padding-left: 0;
            color: $smoke-text-color;
        }

        select {
            padding: 15px 20px;
            background-color: $table-accent-bg;
            border: none;
            border-radius: 1px;
            min-width: 80px;
            font-size: $font-size-small;
            color: $gray-900;
        }
    }

    &-quantity,
    &-tax-price,
    &-unit-price {
        color: $smoke-text-color;
        font-size: $btn-font-size;

        &-label {
            color: $smoke-text-color;
            font-weight: $font-weight-base;
        }
    }

    &-product {
        .line-item-unit-price,
        .line-item-tax-price {
            text-align: left;
        }
    }

    &-total-price {
        font-size: 13px;
        color: $top-and-bottom-color;

        &-label {
            color: $top-and-bottom-color;
        }
    }

    &-remove {
        position: absolute;
        top: 0;
        right: 0;

        .line-item-remove-button {
            padding: 0;
            background: none;
            border: none;

            .icon {
                width: 14px;
                height: 14px;
                color: $gray-600;

                > svg {
                    top: 2px;
                }
            }

            &:hover {
                background: none;
            }
        }
    }

    &:last-child {
        border-bottom: $border-width solid $gray-300;
    }
}

.is-order {
    .line-item {
        &-row {
            align-items: center;
        }

        &-info {
            min-height: unset;
        }

        &-quantity,
        &-unit-price,
        &-total-price {
            @include make-col(12);
        }
    }
}

@include media-breakpoint-up(md) {
    .cart-header-info {
        @include make-col(6);
    }

    .line-item {
        &:nth-of-type(2) {
            border-top: none;
        }

        &-info {
            @include make-col(6);
            min-height: 100px;
        }

        &-quantity {
            @include make-col(2);

            margin: 0;

            &-label {
                display: block;
            }

            &-select-wrapper {
                .line-item-quantity {
                    padding-left: $cart-grid-gutter-width;
                }
            }
        }

        &-ordernumber {
            margin-top: 5px;
        }

        &-quantity,
        &-tax-price,
        &-unit-price,
        &-total-price {
            padding-left: 0;
        }

        &-remove {
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    .line-item-label {
        width: 100%;
    }

    .line-item-details {
        padding-right: 20px;
    }

    .line-item-details-container {
        padding-left: 0;
    }

    .cart-table-header .cart-header-total-price,
    .line-item-total-price {
        padding-right: 40px;
    }

    .cart-table-header .cart-header-row {
        .cart-header-unit-price,
        .cart-header-quantity,
        .cart-header-tax-price {
            padding-left: 0;
            text-align: left;
        }
    }

    .is-order {
        .line-item-total-price-label {
            display: block;
        }

        .line-item {
            &-quantity,
            &-tax-price,
            &-unit-price,
            &-total-price {
                padding-left: $line-item-img-size + $line-item-space-sm;
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .checkout-main {
        .line-item {
            padding: $line-item-space 0;

            &-label {
                font-size: $btn-font-size-lg;
            }

            &-tax-price,
            &-unit-price,
            &-total-price {
                font-size: $btn-font-size-lg;
            }

            &-ordernumber,
            &-delivery-date {
                font-size: $btn-font-size-lg;
            }

            &-details-container {
                padding-left: $line-item-space;
            }

            &-img-container,
            &-item-img {
                height: 112px;
                width: 112px;
            }
        }
    }

    .cart-table-header .cart-header-total-price,
    .line-item-total-price {
        padding-right: 70px;
    }

    .cart-header-quantity,
    .line-item-quantity {
        width: calc(50% - 310px);
    }

    .cart-header-unit-price,
    .line-item-unit-price,
    .cart-header-tax-price,
    .line-item-tax-price {
        width: 120px;
    }

    .cart-header-total-price,
    .line-item-total-price {
        width: 190px;
    }
}

@include media-breakpoint-up(xxl) {
    .checkout-main {
        .line-item-quantity-select-wrapper select {
            min-width: 126px;
        }
    }
}

// Apply tablet and desktop styling only for default and order items
.is-default,
.is-order {
    @include media-breakpoint-up(sm) {
        .line-item-quantity-container {
            width: 100%;
            margin-left: 0;
        }
    }
}

.is-offcanvas {
    .line-item-info {
        @include make-col(12);
    }
}

.is-order {
    .line-item-info {
        width: 100%;
    }

    .line-item {
        &-quantity-label,
        &-unit-price-label,
        &-total-price-label {
            max-width: 100px;
        }
    }
}

@include media-breakpoint-up(xxl) {
    .order-item-detail {
        .is-order {
            .line-item {
                &-info {
                    @include make-col(6);
                }

                &-quantity,
                &-unit-price,
                &-total-price {
                    @include make-col(2);
                }

                &-total-price {
                    display: block;
                }
            }
        }
    }

    .is-order {
        .line-item {
            &-quantity,
            &-tax-price,
            &-unit-price,
            &-total-price {
                padding-left: $grid-gutter-width;
            }
        }
    }

    .order-detail-content {
        > .row > .col-xxl-7 {
            padding-right: 0;
        }
    }
}
