$modal-padding: 34px;
$modal-padding-mobile: 20px;
$modal-title-font-size: 24px;

.modal {
    &-title {
        font-weight: $font-weight-normal;
        font-size: 24px;
        line-height: 34px;
        color: $top-and-bottom-color;
    }

    &-content {
        border: 1px solid $border-color;
        border-radius: 1px;
        box-shadow: $modal-content-box-shadow-xs;

        .modal-title {
            line-height: 34px;
        }

        .cms-element-text h2 {
            font-weight: $font-weight-normal;
            font-size: 24px;
            line-height: 34px;
            color: $top-and-bottom-color;
        }
    }

    &-header {
        align-items: center;
        padding: $modal-padding;
        border-bottom: unset;

        .close {
            padding: 0;
            margin: 0;
            position: absolute;
            right: 34px;
            top: 34px;
            z-index: 1;
        }

        &.only-close {
            padding: $modal-padding $modal-padding 0;
        }
    }

    &-close {
        opacity: 1;

        .icon {
            width: 18px;
            height: 18px;
            color: $sw-text-color;
        }
    }

    &-body {
        padding: 0 $modal-padding $modal-padding;

        .cms-section .boxed {
            padding: 0;
        }

        .cms-block-container {
            padding: 0 !important;
        }
    }

    .card-title {
        font-weight: $font-weight-normal;
        font-size: 24px;
        line-height: 34px;
        color: $top-and-bottom-color;
    }
}
