$modal-padding: 34px;
$modal-padding-mobile: 20px;
$modal-title-font-size: 24px;
$modal-content-box-shadow-xs: 0 0 20px rgba(0, 6, 57, 0.1);

.modal {
    &-title {
        font-weight: $font-weight-normal;
        font-size: $h3-font-size;
        line-height: 34px;
        color: $top-and-bottom-color;
    }

    &-content {
        border: 1px solid $border-color;
        border-radius: 1px;
        box-shadow: $modal-content-box-shadow-xs;

        .modal-title {
            line-height: 34px;

            &:not(:empty) {
                padding-bottom: 5px;
            }
        }

        .cms-element-text h2 {
            font-weight: $font-weight-normal;
            font-size: $h3-font-size;
            line-height: 34px;
            color: $top-and-bottom-color;
        }
    }

    &-header {
        align-items: center;
        padding: $modal-padding;
        border-bottom: unset;

        .close {
            padding: 0;
            margin: 0;
            position: absolute;
            right: 34px;
            top: 34px;
            z-index: 1;
        }

        &.only-close {
            padding: $modal-padding $modal-padding 0;
        }
    }

    &-close {
        opacity: 1;

        .icon {
            width: 18px;
            height: 18px;
            color: $sw-text-color;
        }
    }

    &-body {
        padding: 0 $modal-padding $modal-padding;

        .cms-section .boxed {
            padding: 0;
        }

        .cms-block-container {
            padding: 0 !important;
        }

        .cms-block-container-row > .col-12 {
            padding: 0;
        }
    }

    .card-title {
        font-weight: $font-weight-normal;
        font-size: $h3-font-size;
        line-height: 34px;
        color: $top-and-bottom-color;
        border-bottom: none;
    }
}

@include media-breakpoint-up(sm) {
    // Automatically set modal's width for larger viewports
    .modal-dialog {
        max-width: $modal-lg;
        width: 80%;

        &.order-history-cancel-modal {
            max-width: 500px;

            .modal-content {
                border: none;
                border-radius: 1px;
                box-shadow: none;
            }

            .modal-footer {
                border: none;
                padding-top: 0;
            }
        }
    }
}

.swag-custom-notifications-newsletter-popup__content {
    .modal-footer {
        padding: 0;
        border-top: none;

        .btn-primary {
            margin-right: 0;
            width: auto;
        }
    }

    .modal-body {
        padding: 0;
    }
}

.swag-custom-notification-info-modal__content {
    padding: 0;
}
