/*
Payment method
==============================================
Custom styling for payment form used e.g. on account and checkout pages.
*/

.payment-method-image {
    max-height: 50px;
    max-width: 50px;
    margin: $spacer-sm 0 0;
}
