/*
Product box for wishlist
==============================================
Styling for productbox component.
*/

.product-wishlist {
    margin-top: 0;

    .product-wishlist-info & {
        @extend .d-none;
    }

    .icon-wishlist {
        width: 16px;
        height: 16px;
    }

    @if (not feature('V6_5_0_0')) {
        .cart-item-details-container & {
            position: unset;
        }

        &-action {
            align-items: center;
        }
    } @else {
        .icon-wishlist {
            svg {
                top: 3px;
            }
        }
    }

    &-action-circle {
        @extend .btn-light;

        height: 32px;
        width: 32px;
        border-radius: 1px;
        padding: 0;
        position: unset;

        &::before {
            content: unset;
        }

        &:hover,
        &:focus,
        &:active {
            background-color: $gray-200;
        }
    }

    .icon-wishlist-remove {
        color: $gray-600;
        width: 18px;
        height: 18px;
    }

    &-btn-remove {
        background: rgba(255, 255, 255, 0.7);
        width: 32px;
        height: 32px;
        position: unset;
        border-radius: 1px;

        &:hover {
            background: rgba(255, 255, 255, 0.9);
        }

        &:focus {
            box-shadow: none;
        }

        .icon > svg {
            top: 3px;
        }
    }
}

.product-box {
    .product-wishlist {
        position: absolute;
        top: 0;
        right: 37px;

        &.product-wishlist-remove {
            top: 18px;
            right: 18px;
        }
    }
}

.product-wishlist-info {
    display: flex;
    flex-direction: column;

    .product-rating,
    .product-manufacturer {
        order: -1;
    }
}

.icon-emporium.ic-heart {
    svg path {
        fill: currentColor;
    }
}

@include media-breakpoint-up(md) {
    .product-wishlist {
        &-action-circle {
            height: 42px;
            width: 42px;
        }

        .icon-wishlist {
            width: 20px;
            height: 20px;
        }

        .product-box & {
            right: 47px;
        }
    }
}
