{% sw_extends '@Storefront/storefront/component/review/review-item.html.twig' %}

{% block component_review_item_info_date %}{% endblock %}

{% block component_review_item_content %}
    {{ parent() }}

    {% block clone_component_review_item_info_date %}
        <div class="col-12 product-detail-review-item-date">
            <p>{{ review.createdAt|date }}</p>
        </div>
    {% endblock %}
{% endblock %}
