{% sw_extends '@Storefront/storefront/page/checkout/_page.html.twig' %}

{% block page_checkout_container %}
    <div class="checkout-container">
        {{ block('page_checkout_main') }}

        {% block page_checkout_aside %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}

{% block page_checkout_aside_container %}
    {% block page_checkout_additional %}{% endblock %}

    {{ parent() }}
{% endblock %}
