{% sw_extends '@Storefront/storefront/page/checkout/checkout-item-children.html.twig' %}

{% block page_checkout_item_children_header_collapse_button_icon %}
    <div class="cart-item-collapse-icon">
        {% sw_icon 'ic-plus' style {
            'pack':'emporium'
        } %}
        {% sw_icon 'ic-minus' style {
            'pack':'emporium'
        } %}
    </div>
{% endblock %}
