{% sw_extends '@Storefront/storefront/page/content/index.html.twig' %}

{% block cms_content %}
    {% set cmsPageClasses = ('cms-page ' ~ page.landingPage.cmsPage.cssClass|striptags)|trim %}
    {% set cmsPage = page.landingPage ? page.landingPage.cmsPage : page.cmsPage %}
    {% set landingPage = page.landingPage ? page.landingPage : {} %}
    <div class="{{ cmsPageClasses }} {% if page.cmsPage.locked %}cms-page-default{% endif %}">
        {% block page_content_blocks %}
            {% sw_include "@Storefront/storefront/page/content/detail.html.twig" with {'cmsPage': cmsPage, 'landingPage': landingPage} %}
        {% endblock %}
    </div>
{% endblock %}

{% block cms_breadcrumb %}
    {% apply spaceless %}
        {{ parent() }}
    {% endapply %}
{% endblock %}
