{% sw_extends '@Storefront/storefront/page/checkout/address/register.html.twig' %}

{% block component_account_register_personal_account_fields %}
    {% apply spaceless %}
        {{ parent() }}
    {% endapply %}
{% endblock %}

{% block component_account_register_required_fields %}
{% endblock %}

{% block component_account_register_privacy %}
{% endblock %}

{% block component_account_register_submit %}
    <div class="row align-items-center">
        <div class="col-12 col-md-6">
            <p class="register-required-info">
                {% sw_icon 'ic-alert' style { 'pack':'emporium' } %}
                {{ "general.requiredFields"|trans|sw_sanitize }}
            </p>

            {% sw_include '@Storefront/storefront/component/privacy-notice.html.twig' %}
        </div>

        <div class="col-12 col-md-6">
            {{ parent() }}
        </div>
    </div>
{% endblock %}
