{% sw_extends '@Storefront/storefront/component/address/address-editor-modal-list.html.twig' %}

{% block component_address_address_editor_modal_list_address_body %}
    <div class="card-body">
        <div class="d-flex">
            {{ block('component_address_address_editor_modal_list_address_include') }}

            {{ block('component_address_address_editor_modal_list_address_actions') }}
        </div>
    </div>
{% endblock %}

{% block component_address_address_editor_modal_list_address %}
    <div class="card mb-4">
        {{ block('component_address_address_editor_modal_list_address_body') }}
    </div>
{% endblock %}
