{% sw_extends '@Storefront/storefront/component/quickview/headline.html.twig' %}

{% block swag_cms_extensions_component_quickview_header_content %}
    {% block swag_cms_extensions_component_quickview_header_product %}
        {{ parent()}}
    {% endblock %}

    {% block swag_cms_extensions_component_quickview_header_rating %}
        <div class="col-12 swag-cms-extensions-quickview-rating">
            {% if page.product.ratingAverage %}
                {% sw_include '@Storefront/storefront/component/review/rating.html.twig' with {
                    points: page.product.ratingAverage,
                    style: 'text-primary'
                } %}
            {% endif %}
        </div>
    {% endblock %}
{% endblock %}
