#swag-amazon-pay-product-detail-wrapper {
    > .col-8 {
        @include make-col(12);
    }
}

.swag-amazon-pay-wrapper {
    &.account-link {
        margin: 0
    }
}

.swag-amazon-pay-account-link-amazon {
    .card-body {
        padding-bottom: 50px;
        border-bottom: $border-width solid $border-color;
    }

    .account-profile & {
        margin: 0 0 3rem;
        order: -1;
    }
}

@include media-breakpoint-up(md) {
    #swag-amazon-pay-product-detail-wrapper {
        > .col-8 {
            @include make-col(8);

            padding-left: 5px;
        }
    }
}
