/*
Custom variables
==================================================
contains new variables specific to the theme.
*/

// Footer
$footer-bg-color: $top-and-bottom-color !default;
$footer-color: $sw-text-color !default;
$footer-border-color: $gray-800 !default;
$footer-bottom-color: $gray-700 !default;

// Max-height for mininal header and footer logo
$logo-max-height: 50px;

// Product Detail font sizes
$product-detail-name-sm: 24px;
$product-detail-name: 34px;
$product-detail-price: 18px;
$product-detail-price-lg: 24px;

// Custom color
$alert-color-info: #d0ecf1 !default;
$alert-color-success: #d7f0e1 !default;
$alert-color-error: #eee3e3 !default;
$alert-color-warning: #f8e7d7 !default;
$shopware-color-brand: #189eff !default;
$smoke-text-color: #7F868C !default;

// Icon
$icon-chevron-right: url('#{$asset-path}/icon/icon-pack/ic-chevron-right.svg') !default;
$icon-chevron-right-white: url('#{$asset-path}/icon/icon-pack/ic-chevron-right-white.svg') !default;

$letter-spacing-base: 1px;

// Select
$custom-control-active-border-color: $input-border-color;

// Button
$disabled-btn-color: $gray-700 !default;
$disabled-btn-primary-bg: $primary-lighten !default;
$disabled-btn-primary-border-color: $primary-lighten !default;

$disabled-btn-secondary-bg: $secondary-lighten-150 !default;
$disabled-btn-secondary-border-color: $secondary-lighten-150 !default;

$disabled-btn-light-bg: $gray-100 !default;
$disabled-btn-light-border-color: $gray-100 !default;
$btn-scroll-top-icon-color: #2C3E50 !default;

// Popover
$popover-box-shadow: 0 2px 15px rgba(74, 84, 91, 0.13);
$pop-over-border-color: #D4E2E2;

//Rating
$icon-review-color: $icon-base-color;

//Spacing
$container-padding: 24px;
