{% sw_extends '@Storefront/storefront/page/error/error-maintenance.html.twig' %}

{% block error_maintenance_header %}
    <header class="header-main d-lg-none">
        {% block error_maintenance_header_inner %}
            <div class="container">
                <div class="header-row">
                    {% sw_include '@Storefront/storefront/layout/header/logo.html.twig' %}
                </div>
            </div>
        {% endblock %}
    </header>
{% endblock %}

{% block error_maintenance_main_fallback %}
    <div class="container container-maintenance d-flex">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="error-image-wrap">
                    {% block error_maintenance_main_picture %}
                        <img src="{{ theme_config('sw-maintenance-image') |sw_encode_url }}"
                             alt="{{ "general.maintenanceModeHeader"|trans|striptags }}" />
                    {% endblock %}
                </div>
            </div>
            <div class="col-12 col-lg-4 col-xl-3 offset-xl-1">
                {% block error_maintenance_main_header_logo %}
                    <div class="header-logo d-none d-lg-block">
                        {% sw_include '@Storefront/storefront/layout/header/logo.html.twig' %}
                    </div>
                {% endblock %}
                {% block error_maintenance_main_header %}
                    <h1>{{ "general.maintenanceModeHeader"|trans }}</h1>
                {% endblock %}
                {% block error_maintenance_main_description %}
                    <p>{{ "general.maintenanceModeDescription"|trans }}</p>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block error_maintenance_footer %}
    {% sw_include '@Storefront/storefront/layout/footer/footer-simple.html.twig' %}
{% endblock %}
