{% sw_extends '@Storefront/storefront/component/address/address-editor-modal-list.html.twig' %}

{% block component_address_address_editor_modal_list %}
    <div id="{{ typePrefix }}address-list"
         class="collapse {% if not address %} show{% endif %}"
         data-bs-parent="#{{ typePrefix }}addressEditorAccordion">
        {{ block('component_address_address_editor_modal_list_wrapper') }}
    </div>
{% endblock %}
