.is-ctl-accountprofile {
    .container-main {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.account-content {
    min-height: inherit;

    .account-content-aside,
    .account-content-main {
        padding-top: $grid-gutter-width / 2;
    }

    .account-content-aside {
        border-right: $border-width solid $border-color;
    }

    .account-aside-footer {
        border-top: none;
        padding-top: 17px;
    }

    .account-overview {
        color: $smoke-text-color;
    }

    .account-welcome {
        margin-bottom: 18px;
        padding-bottom: $spacer-lg;
        border-bottom: $border-width solid $border-color;
    }

    .account-welcome h1,
    .account-aside-header {
        font-size: 25px;
        font-weight: $font-weight-normal;
        line-height: 34px;
        margin-bottom: 14px;
    }

    .account-aside-header {
        padding-bottom: 17px;
        border: none;
    }

    .account-aside-list-group {
        font-size: 13px;
    }

    .account-aside-item {
        color: $smoke-text-color;
        padding-top: 7px;
        padding-bottom: 7px;
        line-height: 21px;

        &.is-active {
            color: $top-and-bottom-color;
        }
    }

    .account-aside-btn {
        @extend .btn-outline-primary;
        @extend .btn;

        > .icon {
            display: none;
        }
    }

    @include media-breakpoint-up(md) {
        .account-content-aside {
            @include make-col(4);
            display: block;

            .account-aside-item {
                .icon {
                    display: none;
                }
            }
        }

        .account-content-main {
            @include make-col(8);
        }

        .account-aside-list-group {
            flex-direction: column;
        }

        .account-aside-header,
        .account-aside-footer,
        .account-aside-item {
            padding-left: 0;
            padding-right: 0;
        }

        .account-welcome {
            margin-bottom: 34px;
        }

        .account-aside-header {
            padding-top: $spacer-md;
        }
    }

    @include media-breakpoint-up(lg) {
        .account-content-aside {
            @include make-col(3);
        }

        .account-content-main {
            @include make-col(8);
            margin-left: 75px;
        }

        .account-welcome {
            margin-bottom: $spacer-xl;
        }

        .account-welcome h1,
        .account-aside-header {
            font-size: $h2-font-size;
        }
    }

    @include media-breakpoint-up(xxl) {
        .account-aside-list-group {
            font-size: 15px;
        }

        .account-aside-header {
            padding-bottom: 43px;
        }

        .account-aside-footer {
            padding-top: 27px;
        }
    }
}

.account-welcome {
    p {
        font-size: 13px;
        line-height: 21px;
        margin: $spacer-xs 0 0;
        color: $smoke-text-color;
    }
}
