.account-address {
    &-form {
        margin-bottom: 50px;
    }

    .address-item-header {
        .btn {
            padding: 0;

            .icon svg {
                top: 0;
            }
        }
    }

    .account-welcome {
        display: flex;
        margin-bottom: 34px;
        flex-direction: column;
        gap: 20px;
    }

    .account-headline-wrapper {
        flex-grow: 1;
    }

    .default-address {
        border-bottom: $border-width solid $border-color;
    }

    .default-address-headline {
        font-size: $h4-font-size;
        margin-bottom: 24px;
        font-weight: $font-weight-normal;
        color: $top-and-bottom-color;
    }

    .card-title__wrapper {
        display: flex;
    }

    .card-title {
        line-height: 24px;
        padding-bottom: 0;
        border-width: 2px;
        border-color: $gray-800;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 10px;
        color: $gray-800;
        margin-bottom: 1rem;
        display: inline-block;

        + a {
            margin-left: 14px;

            > .icon svg {
                top: 0;
            }
        }
    }

    .address-action-set-default {
        padding-top: 0;
        padding-bottom: 0;
        font-weight: $font-weight-normal;
    }

    .address-card {
        margin-bottom: 8px;
    }

    .address-list {
        padding-top: 34px;

        .h3 {
            font-size: $h4-font-size;
            margin-bottom: 24px;
            font-weight: $font-weight-normal;
            color: $top-and-bottom-color;
        }
    }

    .address {
        line-height: 24px;
    }

    .form-label,
    .form-group:empty {
        display: none;
    }

    .form-group {
        margin-bottom: 10px;
    }

    .row {
        @extend .g-0, .gx-2;
    }

    .address-form-actions,
    .address-action-create {
        .btn {
            width: 100%;
        }
    }

    .contact-salutation,
    .contact-type,
    .contact-title {
        @extend .col-md-6;
    }

    .address-required-info {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: $font-size-sm;
        margin-top: 15px;

        .icon svg {
            top: 0;
        }
    }

    .address-actions-defaults .btn {
        font-size: $font-size-sm;
    }

    @include media-breakpoint-down(md) {
        .account-headline-wrapper {
            p {
                margin-bottom: 0;
            }
        }

        .js-field-toggle-contact-type-company .form-group {
            @include make-col(12);
        }
    }

    @include media-breakpoint-up(md) {
        &-form {
            margin-bottom: 70px;
        }

        .account-welcome {
            flex-direction: row;
        }

        .address-action-create {
            align-self: flex-end;
            margin-bottom: 0;
        }

        .form-group:empty {
            display: block;
        }

        .address-card {
            margin-bottom: 18px;
        }
    }

    @include media-breakpoint-up(xl) {
        &-form {
            margin-bottom: 100px;
        }

        .account-welcome {
            margin-bottom: 50px;
        }

        .default-address-headline {
            margin-bottom: 34px;
        }

        .card-title {
            margin-bottom: 26px;
        }

        .address-list {
            padding-top: 50px;

            .h3 {
                margin-bottom: 34px;
            }
        }

        .address-form-actions,
        .address-action-create {
            .btn {
                width: auto;
            }
        }

        .address-card {
            margin-bottom: 34px;
        }
    }
}
