$badge-in-progress: #7C8EFF !default;
$badge-completed: #60D788 !default;
$badge-failed: #E32166 !default;

:is(.order-table-header, .order-item-header) {
    padding: 14px 14px 0 14px;
}

.order-item {
    .product-image-link {
        justify-content: flex-start;
    }
}

.order-item-header {
    > .row {
        padding-left: 0;
        padding-right: 0;

        &:first-child {
            padding: 0;
            align-items: center;
        }
    }

    .order-table-header-heading {
        font-weight: 400;
        font-size: 1rem;
        line-height: 22px;
        margin: 0 0 5px 0;
    }

    .order-table-header-context-menu-wrapper {
        margin: 0;
    }

    .order-table-header-context-menu {
        border: none;
        height: auto;

        &:focus {
            outline: none;
            box-shadow: none;
        }

        > .icon {
            margin: 0;
        }
    }
}

.order-table {
    border-radius: 1px;
    border-color: $gray-300;
    font-size: 13px;
    color: $smoke-text-color;

    .order-table-header-order-table-header {
        display: none;
    }

    .order-table-header-heading + .col-12.col-sm {
        order: 3;
        padding: 0;
        position: unset;
    }
}

.order-table-header-order-number {
    margin-bottom: 10px;
}

.order-table-header-order-status {
    display: block;
}

.order-item-status-badge {
    margin-bottom: 0;
    display: block;
}

.order-table-header-label {
    font-weight: $font-weight-normal;
    display: inline-block;
    float: none;
    width: auto;
}

.order-table-body-value {
    font-weight: $font-weight-bold;
    color: $top-and-bottom-color;
    width: auto;
    margin-left: 6px;
}

.order-table-header-order-table-body {
    padding: 14px 0;
    margin-top: 14px;
    border-top: $border-width solid $border-color;
    position: relative;

    .order-item-actions {
        position: absolute;
        right: 0;
        top: 14px;
        width: auto;
        margin: 0 !important;
        padding: 0;
    }

    .order-table-header-order-table-body-cell[class*='col-'] {
        margin-top: 2px;
        line-height: 21px;
    }
}

.order-table-header-context-menu-wrapper {
    max-width: 40px;

    @if (feature('V6_5_0_0')) {
        top: 20px;
    } @else {
        top: 16px;
    }
}

.order-item-status-badge {
    border-radius: 1px;
    font-weight: $font-weight-normal;
    background-color: transparent !important;

    &:hover {
        text-decoration: none;
    }

    &.order-item-status-badge-open,
    &.order-item-status-badge-in_progress {
        color: $badge-in-progress;
        border: $border-width solid $badge-in-progress;
    }

    &.order-item-status-badge-completed {
        color: $badge-completed;
        border: $border-width solid $badge-completed;
    }

    &.badge-danger,
    &.order-item-status-badge-cancelled,
    &.order-item-status-badge-failed {
        color: $badge-failed;
        border: $border-width solid $badge-failed;

        &:hover {
            color: $badge-failed;
        }
    }


    .icon {
        width: auto;
        height: 1rem;
    }
}

.order-hide-btn {
    background-color: transparent;
    border: none;
    padding: 0;

    .order-hide-btn-text {
        svg path {
            fill: currentColor;
        }
    }

    .order-hide-btn-text,
    .order-view-btn-text {
        .icon svg {
            top: 0;
        }
    }

    &:hover {
        background-color: transparent !important;
    }

    &:focus {
        outline: none;
        box-shadow: none !important;
    }
}

.order-table-header-context-menu-content {
    filter: drop-shadow(0px 0px 20px rgba(0, 6, 57, 0.1));
    border: none;
    border-radius: 3px;
    padding: 12px 10px;
    min-width: 170px;

    .order-table-header-context-menu-content-link {
        color: $gray-400;

        strong {
            font-weight: $font-weight-normal;
        }

        &:hover {
            color: $top-and-bottom-color;
        }
    }
}

@include media-breakpoint-up(md) {
    :is(.order-table-header, .order-item-header) {
        padding: 14px 24px 0 24px;
    }

    .order-table-header-order-table-body {
        .order-table-header-order-table-body-cell[class*='col-'] {
            @include make-col(6);
            padding-left: 0;
        }
    }

    .order-table-header-order-status {
        margin: 0;
        position: absolute;
        right: 68px;

        @if (feature('V6_5_0_0')) {
            top: 18px;
        } @else {
            top: 14px;
        }
    }

    .order-table-header-order-number {
        margin-bottom: 0;
    }

    .order-item-status-badge {
        margin-top: 0;
    }
}

@include media-breakpoint-up(xxl) {
    :is(.order-table-header, .order-item-header) {
        padding: 18px 24px;
    }

    .order-table {
        font-size: 12px;
    }

    .order-table-header-order-table-body {
        .order-table-header-order-table-body-cell[class*='col-'] {
            @include make-col(3);
        }
    }

    .order-item-header {
        position: relative;

        .order-table-header-order-table-header + .order-table-header-order-table-body {
            padding-bottom: 0;
        }
    }

    .order-item-status-badge {
        height: 26px;
    }

    .order-table-header-order-number {
        @include make-col(2);
        width: auto;
        margin-left: 20px;
    }
}
