.account-overview-card {
    font-size: 13px;
    margin-bottom: 0;

    .card-title__wrapper {
        display: flex;

        .card-title {
            line-height: 24px;
            padding-bottom: 0;
            border-width: 2px;
            border-color: $gray-800;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-size: 10px;
            color: $gray-800;
            margin-bottom: 1rem;
        }

        .card-title + a {
            margin-left: 14px;

            > .icon svg {
                top: 0;
            }
        }

        + p {
            margin-bottom: 0;
        }
    }
}

.account-overview-payment {
    .card-body {
        strong {
            color: $top-and-bottom-color;
        }
    }
}

.account-overview-profile {
    p:is(:empty) {
        display: none;
    }
}

.account-overview-newsletter {
    margin-top: 18px;
    padding: 34px 0;
    border-top: $border-width solid $border-color;
    border-bottom: $border-width solid $border-color;
}

.account-overview-newest-order {
    padding-top: 34px;
}

.account-overview-newsletter,
.account-overview-newest-order {
    .card-title {
        padding-bottom: 0;
        border: none;
        font-weight: $font-weight-normal;
        line-height: 22px;
        font-size: 1rem;
        margin-bottom: 24px;
    }
}

.account-overview {
    &__subtitle {
        font-weight: $font-weight-normal;
        line-height: 22px;
        font-size: 1rem;
        margin-bottom: 24px;
    }
}

.modal-dialog .js-address-editor {
    color: $smoke-text-color;

    .address-editor-headline {
        font-size: $h4-font-size;
        margin-bottom: 24px;
        font-weight: $font-weight-normal;
    }

    .address-editor-card {
        padding-bottom: 16px;
        border-bottom: $border-width solid $border-color;

        .btn {
            @extend .btn-link;
            background-color: transparent;
            padding-left: 0;
            padding-right: 0;
            width: auto;
            border: none;
        }
    }

    .card-title {
        line-height: 24px;
        padding-bottom: 0;
        border-width: 2px;
        border-color: $gray-800;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 10px;
        color: $gray-800;
        margin-bottom: 1rem;
        display: inline-block;
        width: fit-content;
        font-weight: $font-weight-bold;

        + a {
            margin-left: 14px;

            > .icon svg {
                top: 0;
            }
        }

        + p {
            margin-bottom: 0;
        }
    }

    .form-group {
        @include make-col(12);
        margin-top: 0;
        margin-bottom: 10px;

        &:empty,
        .form-label {
            display: none;
        }
    }

    .js-close-address-editor {
        .row {
            @extend .g-0;
        }

        .btn-light {
            color: $primary;
        }
    }

    .js-field-toggle-contact-type-company {
        + .row,
        + .form-row {
            .form-group.col-4 {
                @include make-col(4);
                padding-right: 10px;
            }

            .form-group.col-8 {
                @include make-col(8);
            }
        }
    }

    .address-form-actions .btn {
        width: 100%;
    }

    .address-required-info {
        font-size: $font-size-sm;
        display: flex;
        align-items: center;
        gap: 8px;

        .icon svg {
            top: 0;
        }
    }

    .default-address-editor {
        > .row {
            gap: 10px;

            > *,
            .btn {
                width: 100%;
                margin-bottom: 0;
                max-width: none;
                flex-basis: 100%;
            }

            .btn:not(.collapsed) {
                color: $white;
                background-color: $sw-color-brand-primary;
                border-color: $sw-color-brand-primary;
            }
        }

        .address {
            margin-bottom: 14px;
        }
    }
}

@include media-breakpoint-up(lg) {
    .modal-dialog .js-address-editor {
        display: flex;

        .default-address-editor {
            min-width: 220px;
            flex-shrink: 0;

            > .row {
                flex-direction: column;

                > *,
                .btn {
                    width: 90%;
                }
            }
        }

        #billing-addressEditorAccordion,
        #shipping-addressEditorAccordion {
            flex-grow: 1;
            margin-top: 58px;
            border-left: $border-width solid $border-color;
            padding-left: 70px;

            .collapse > * {
                padding-top: 0;
            }
        }
    }
}

@include media-breakpoint-up(xxl) {
    .account-overview-card {
        font-size: 15px;

        .card-title__wrapper {
            .card-title {
                margin-bottom: 26px;
            }
        }
    }
}
