.account-payment-card {
    padding-bottom: 70px;

    .card-title {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: $spacer-lg;
        font-weight: $font-weight-normal;
        font-size: $font-size-lg;
        line-height: 22px;
    }

    .payment-form-group {
        margin-bottom: 14px;
    }

    .payment-method-description {
        p {
            font-size: 10px;
            line-height: 15px;
            margin-bottom: 0;
            color: $smoke-text-color;
            font-weight: $font-weight-normal;
        }

        strong {
            font-size: 13px;
            line-height: 21px;
        }
    }

    .payment-method-label {
        .payment-method-description {
            width: auto;
        }
    }

    .payment-method-radio {
        strong {
            font-weight: $font-weight-normal;
        }

        .payment-method-input:checked ~ .payment-method-label {
            strong {
                font-weight: $font-weight-bold;
                color: $gray-900;
            }
        }
    }
}

.is-ctl-accountpayment {
    .container-main {
        padding: 0;
    }
}

.payment-methods {
    max-width: 422px;
    padding-right: $spacer-sm;
}

@include media-breakpoint-up(md) {
    .account-payment-card {
        padding-bottom: 70px;
    }
}

@include media-breakpoint-up(lg) {
    .account-payment-card {
        padding-bottom: 100px;

        .card-title {
            font-size: $h4-font-size;
            line-height: 26px;
            padding-bottom: 35px;
        }

        .payment-form-group {
            margin-bottom: $spacer-lg;
        }

        .payment-method-description {
            strong {
                font-size: $font-size-base;
                line-height: 24px;
            }
        }

        .payment-method-description {
            p {
                font-size: $font-size-sm;
                line-height: 18px;
            }
        }
    }
}
