{% sw_extends '@Storefront/storefront/layout/header/account-menu.html.twig' %}

{% block layout_header_actions_account_widget_dropdown_header %}
    {% if not context.customer.guest %}
        <div class="dropdown-header account-menu-header {% if not context.customer %}text-center{% endif %}">
            {{ "account.myAccount"|trans|sw_sanitize }}
        </div>
    {% endif %}
{% endblock %}
