{# SwagEmporiumTheme Copyright (C) 2025 shopware AG #}

{% sw_extends '@Storefront/storefront/layout/header/account-menu.html.twig' %}

{% block layout_header_actions_account_widget_dropdown_header %}
    {% if not context.customer.guest %}
        {% if b2bSuite %}
            <div class="dropdown-header account-menu-header text-left">
                <a class="b2b-myaccount" href="{{ path('frontend.b2b.b2baccount.index') }}">
                    {{ "account.myAccount"|trans|sw_sanitize }}
                </a>
            </div>
        {% else %}
            <div class="dropdown-header account-menu-header {% if not context.customer %}text-center{% endif %}">
                {{ "account.myAccount"|trans|sw_sanitize }}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
