{# SwagEmporiumTheme Copyright (C) 2025 shopware AG #}

{% sw_extends '@Storefront/storefront/layout/header/header-minimal.html.twig' %}

{% block layout_header_minimal_logo %}
    <div class="col-6 col-md-4 header-minimal-logo text-center">
        {% sw_include '@Storefront/storefront/layout/header/logo-minimal.html.twig' %}
    </div>
{% endblock %}

{% block layout_header_minimal_contact %}
    <div class="col-md-4 d-none d-md-block header-minimal-contact">
        {{ "header.supportInfo"|trans|sw_sanitize }}
    </div>
{% endblock %}

{% block layout_header_minimal_button %}
    <div class="col-6 col-md-4 header-minimal-back-to-shop">
        <a href="{{ path('frontend.home.page') }}"
           class="btn btn-light header-minimal-back-to-shop-button"
           title="{{ "checkout.finishButtonBackToShop"|trans|striptags }}">
            {{ "checkout.finishButtonBackToShop"|trans|striptags }}
        </a>
    </div>
{% endblock %}
