{% sw_extends '@Storefront/storefront/component/checkout/offcanvas-cart.html.twig' %}

{% block utilities_offcanvas_close_icon %}
    {% sw_icon 'arrow-head-left' style { 'pack':'emporium' } %}
{% endblock %}

{% block component_offcanvas_cart_actions_promotion_submit %}
    {# @deprecated tag:v6.5.0 - Bootstrap v5 removes `input-group-append` wrapper and uses elements as direct childs of `input-group` #}
    {% if feature('v6.5.0.0') %}
        <button class="btn btn-secondary"
                type="submit"
                id="addPromotionOffcanvasCart">
            {{ "checkout.addPromotionAction"|trans|sw_sanitize }}
        </button>
    {% else %}
        <div class="input-group-append">
            <button class="btn btn-secondary"
                    type="submit"
                    id="addPromotionOffcanvasCart">
                {{ "checkout.addPromotionAction"|trans|sw_sanitize }}
            </button>
        </div>
    {% endif %}
{% endblock %}
