{% sw_extends '@Storefront/storefront/component/checkout/offcanvas-cart.html.twig' %}

{% block utilities_offcanvas_close_icon %}
{% endblock %}

{% block component_offcanvas_cart_actions_promotion_submit %}
    <button class="btn btn-secondary"
            type="submit"
            id="addPromotionOffcanvasCart">
        {{ "checkout.addPromotionAction"|trans|sw_sanitize }}
    </button>
{% endblock %}

{% block component_offcanvas_cart_actions_promotion_input %}
    <input type="text"
           name="code"
           class="form-control"
           id="addPromotionOffcanvasCartInput"
           placeholder="{{ "checkout.addPromotionPlaceholder"|trans|striptags }}"
           aria-label="{{ "checkout.addPromotionLabel"|trans|striptags }}"
           aria-describedby="addPromotionOffcanvasCart"
           required="required">
{% endblock %}
