{% sw_extends '@Storefront/storefront/component/line-item/element/quantity.html.twig' %}

{% block component_line_item_quantity_display %}
    <div class="line-item-total-price-value">
        {{ lineItem.quantity }}
    </div>
{% endblock %}
