$maintenance-color: #7F868C;

@mixin contain-height() {
    height: calc(100vh - #{$header-height} -  #{$footer-height});
}

.is-ctl-maintenance {
    .header-main {
        border-bottom: none;
    }

    .header-logo-main {
        text-align: left;
    }

    .header-row {
        padding: 34px 0;
    }

    .header-logo-picture {
        margin: 0;
    }
}

.container-maintenance {
    padding-bottom: 137px;
}

.container-maintenance,
.container-404 {
    height: 100%;

    img {
        width: 100%;
        object-fit: cover;
        height: 100%;
    }

    .header-logo {
        padding-top: 70px;
        padding-bottom: 0px;
    }

    h1 {
        padding-top: 34px;
        margin-bottom: 14px;
        font-size: 25px;
    }

    p {
        color: $maintenance-color;
        margin-bottom: 0;
        font-size: 13px;
    }
}

.container-404 {
    padding-bottom: 50px;

    h1 {
        font-weight: $font-weight-normal;
    }

    p {
        padding-bottom: 24px;
    }

    .text-center {
        @if (feature('v6.5.0.0')) {
            @extend .text-start;
        } @else {
            @extend .text-left;
        }
    }
}


@include media-breakpoint-up(lg) {
    .container-maintenance {
        padding-top: 70px;
        padding-bottom: 70px;
        width: 100%;

        .col-12 {
            height: 100%;
        }

        h1 {
            font-size: 36px;
        }

        p {
            font-size: 15px;
        }
    }

    .container-404 {
        padding-top: 70px;
        padding-bottom: 100px;

        .row {
            align-items: center;
        }

        h1 {
            font-size: 36px;
            padding-top: 0;
        }

        p {
            font-size: 15px;
        }
    }

    .is-ctl-.is-act- {
        .container-main {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    .error-content-wrap {
        max-width: 276px;
    }
}

@include media-breakpoint-up(xl) {
    .container-maintenance {
        .header-logo {
            padding-bottom: 180px;
        }
    }
}
