{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_navigation %}
{% endblock %}

{% block base_flashbags %}
   {% apply spaceless %}
       {{ parent() }}
  {% endapply %}
{% endblock %}

{% block base_header %}
    <header class="header-main">
        {% if config('SwagCustomNotification.config.showBanner') %}
            {% sw_include '@SwagCustomNotification/storefront/layout/header/banner.html.twig' ignore missing %}
        {% endif %}

        {% sw_include '@Storefront/storefront/layout/header/top-bar.html.twig' %}

        {% block base_header_inner %}
            <div class="container">
                {% sw_include '@Storefront/storefront/layout/header/header.html.twig' %}
            </div>
        {% endblock %}
    </header>
{% endblock %}
