.cart-add-promotion,
.offcanvas-cart-promotion-form {
    .input-group {
        height: 42px;
    }

    .btn-secondary {
        background-color: transparent;
        padding: 5px;
        height: 32px;
        min-width: 48px;
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 4;
        @extend .btn-outline-primary;

        &:hover {
            background-color: $gray-800;
            border-color: $gray-800;
            color: $white;
        }
    }
}

.checkout-aside-summary,
.checkout-aside-products {
    padding: 0;
}

.checkout-aside-products {
    padding-bottom: 34px;
}

#addPromotionInput,
#addPromotionOffcanvasCartInput {
    padding-right: 80px;
}

.is-act-cartpage,
.is-ctl-checkout,
.is-act-checkoutregisterpage {
    .checkout-aside-container {
        background-color: $secondary-lighten-150;
        margin-left: auto;
    }

    .checkout-aside-summary {
        background-color: transparent;
        padding: 0;
    }

    .checkout-aside-summary-header,
    .checkout-aside-product-header {
        margin-bottom: 24px;
        font-weight: $font-weight-normal;
        font-size: 25px;
        line-height: 34px;
        color: $black;
    }

    .checkout-aside-product-header {
        font-size: $h4-font-size;
    }

    .checkout-aside-summary-list {
        font-size: 13px;
        line-height: 21px;
        color: $smoke-text-color;
        margin-bottom: 0;
    }

    .checkout-aside-summary-value {
        margin-bottom: 0;
    }

    .checkout-aside-summary-total {
        font-size: $font-size-base;
        color: $top-and-bottom-color;
        padding: 14px 0;
        margin: 0 0 14px;
        border-top: none;
        border-bottom: 2px solid $gray-300;
    }

    .checkout-aside-summary-label,
    .checkout-aside-summary-value {
        &.summary-net {
            margin-top: 0;
        }
    }

    .checkout-aside-add-code {
        margin-top: 24px;
    }

    .checkout-aside-action {
        margin-top: 24px;
    }
}

.is-act-cartpage {
    .checkout-aside-container {
        padding: 24px;
    }
}

.is-ctl-checkout,
.is-act-checkoutregisterpage {
    .checkout-aside-container {
        padding: 34px 24px 24px;
    }
}

.is-ctl-checkout {
    .checkout-aside-action {
        .btn-primary {
            @extend .btn-buy;
        }
    }
}

.checkout-aside-item {
    background-color: #fff;
    padding-left: 10px;
    border-bottom: 0;
    margin-bottom: 5px;
    border-radius: 1px;

    &:last-child {
        margin-bottom: 0;
    }

    &-image {
        padding: 0;
        width: 100%;
        max-width: 100px;
        flex: 0 0 100px;
    }

    &-data {
        padding: 0 0 14px 14px;
        flex: 0 0 calc(100% - 100px);
        max-width: calc(100% - 100px);
        display: block;
    }
}


@include media-breakpoint-up(md) {
    .is-act-cartpage,
    .is-ctl-checkout,
    .is-act-checkoutregisterpage {
        .checkout-aside-container {
            padding: 44px 34px 34px;
        }

        .checkout-aside-summary-header {
            font-size: $h2-font-size;
            line-height: 34px;
            margin-bottom: 34px;
        }

        .checkout-aside-summary-total {
            padding-bottom: 24px;
            margin-bottom: 24px;
        }

        .checkout-aside-summary-list {
            font-size: $font-size-base;
            line-height: 24px;
        }

        .checkout-aside-add-code {
            margin-top: 34px;
        }

        .checkout-aside-action {
            margin-top: 18px;
        }
    }

    .cart-add-promotion {
        .input-group,
        .form-control {
            height: 56px;
            font-size: $font-size-base;
            line-height: 24px;
        }

        .btn-secondary {
            right: 12px;
            top: 12px;
        }
    }
}

@include media-breakpoint-up(lg) {
    .is-act-checkoutregisterpage {
        .checkout-aside-product-header {
            font-size: $h3-font-size;
        }
    }

    .is-act-cartpage,
    .is-ctl-checkout,
    .is-act-checkoutregisterpage {
        .checkout-aside-container {
            max-width: 427px;
        }
    }
}
