.cart-main-header {
    font-weight: $font-weight-normal;
}

.cart-table-header {
    font-weight: $font-weight-semibold;
}

.cart-header-row {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
    line-height: 24px;
}

.cart-item-row {
    margin: 0;
    position: relative;

    .cart-item-remove-button {
        padding: 0;
        background-color: transparent;
        border: none;

        &:not(:disabled),
        &:hover:not(:disabled) {
            background-color: transparent;
        }
    }

    > .cart-item-info-img {
        padding: 0;
        width: 100%;
        max-width: 100px;
        flex: 0 0 100px;
    }

    > .cart-item-details {
        padding: 0 0 14px 14px;
        flex: 0 0 calc(100% - 100px);
        max-width: calc(100% - 100px);
        display: block;
    }

    @if (feature('v6.5.0.0')) {
        > .cart-item-quantity {
            @extend .d-none;
            @extend .d-lg-block;
        }
    }

    > .cart-item-info {
        padding: 0;
    }

    > .col-auto {
        .offcanvas-cart-items & {
            padding: 0;
        }
    }
}

.cart-add-product {
    &-container {
        @extend .col-12;
    }

    .input-group {
        height: 42px;
    }

    .btn-secondary {
        background-color: transparent;
        color: $gray-800;
        border-color: $gray-800;
        padding: 5px;
        height: 32px;
        min-width: 48px;
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 4;
    }
}

.cart-add-product-container,
.cart-shipping-costs-container {
    h5 {
        font-weight: $font-weight-normal;
        margin-bottom: 14px;
    }
}

.cart-shipping-costs-container {
    @extend .col-md-12;

    margin-top: 38px;

    .collapse {
        @extend .row;

        &:not(.show) {
            display: flex;
        }
    }

    .form-group {
        @extend .col-12;
        @extend .col-md-4;

        label {
            font-weight: $font-weight-bold;
            font-size: 10px;
            line-height: 24px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $top-and-bottom-color;
        }
    }

    @if (feature('V6_5_0_0')) {
        .form-select {
            height: 60px;
            font-weight: $font-weight-base;
            font-size: $font-size-base;
            line-height: 24px;
            padding: 18px 24px;
            background-position: right 1.4rem center;
        }
    } @else {
        .custom-select {
            height: 60px;
            font-weight: $font-weight-base;
            font-size: $font-size-base;
            line-height: 24px;
            padding: 18px 24px;
            background-position: right 1.4rem center;
        }
    }
}

@include media-breakpoint-down(sm) {
    .cart-item-row {
        > .cart-item-unit-price,
        > .cart-item-total-price,
        > .cart-item-quantity,
        > .cart-item-tax-price {
            padding: 0 0 0 14px;
            flex: 0 0 calc(100% - 100px);
            max-width: calc(100% - 100px);
            margin-left: auto;
        }

        > .cart-item-remove {
            position: absolute;
            top: 13px;
            right: 0;
            padding: 0;
        }
    }
}

@include media-breakpoint-up(md) {
    .cart-item-row {
        align-items: flex-start;

        > .cart-item-total-price {
            padding-right: 40px;
        }
    }

    .cart-add-product {
        max-width: 100%;

        @include make-col(12);

        .input-group,
        .form-control {
            height: 56px;
            font-size: $font-size-base;
            line-height: 24px;
        }

        .btn-secondary {
            right: 12px;
            top: 12px;
        }
    }
}

@include media-breakpoint-up(lg) {
    .cart-header-row .cart-header-unit-price {
        padding-left: 25px;
    }

    .cart-item-row .cart-item-unit-price {
        justify-content: flex-start;
    }
}

.is-act-cartpage,
.is-ctl-checkout,
.is-ctl-accountorder {
    .checkout {
        .checkout-main {
            padding-top: 0;
            margin-bottom: 30px;
        }

        .checkout-container {
            padding-top: 0;
        }
    }

    .container-main {
        padding-top: 28px;
    }

    .flashbags:not(:empty) {
        margin-top: 0;
    }
}

@include media-breakpoint-up(lg) {
    .is-act-cartpage {
        .container-main {
            padding-top: 50px;
        }

        .checkout-product-table {
            div[data-swag-paypal-installment-banner='true'] {
                margin-bottom: 0;
            }
        }
    }
}
