$cart-img-container-width: 100px;
$cart-item-space-sm: 18px;

.cart-item {
    padding: $cart-item-space-sm 0;

    &-label {
        display: block;
        font-weight: $font-weight-bold;
        line-height: 18px;
        font-size: 13px;
        margin-bottom: 10px;
        padding-top: 5px;
        padding-right: 30px;
    }

    &-details {
        display: flex;
        align-items: center;
    }

    &-info {
        margin-bottom: 0;
        padding: 0 0 14px;
    }

    &-unit-price {
        text-align: left;
    }

    &-unit-price,
    &-total-price,
    &-tax-price {
        justify-content: space-between;
        display: flex;
    }

    &-quantity-label,
    &-unit-price-label,
    &-total-price-label,
    &-tax-price-label {
        font-weight: $font-weight-normal;
        line-height: 21px;
        margin-bottom: 8px;
    }

    &-total-price-label,
    &-tax-price-label {
        color: $sw-text-color;
        display: block;
    }

    &-unit-price-label,
    &-unit-price {
        color: $gray-400;
    }

    &-quantity-label {
        display: none;
    }

    &-remove {
        position: absolute;
        top: 0;
        right: 0;
    }

    &-remove-button {
        padding: 0;
        background: none;
        border: none;

        .icon {
            width: 14px;
            height: 14px;
            color: $gray-600;

            > svg {
                top: 2px;
            }
        }

        &:hover {
            background: none;
        }
    }

    &-quantity {
        margin-bottom: 0;

        @extend .col-sm-12;
    }

    &-quantity-row {
        padding: 0 0 14px;
        margin-bottom: 0;
        display: block;

        > .col-4 {
            @extend .col-12;
        }
    }

    &-img-container {
        width: $cart-img-container-width;
    }

    .cart-item-img {
        padding: 0;
        border: none;
        border-radius: 0;
        width: 100px;
        height: 100px;
    }
}

.cart-item-ordernumber {
    word-break: break-word;
    font-weight: $font-weight-normal;
    font-size: 10px;
    line-height: 15px;
    color: $gray-400;
}

.cart-aside-item-children,
.cart-item-customized-products,
.order-detail-item-customized-products {
    .cart-item-children,
    .cart-aside-item-children,
    .account-item-children {
        background-color: transparent;
        padding: 11px 10px;
        border-top: $border-width solid $border-color;
        border-bottom: $border-width solid $border-color;
    }

    .cart-item-children-element,
    .account-item-children-element,
    .cart-aside-item-children-element {
        font-size: 0;
    }

    .cart-item-headline-text,
    .account-item-headline-text,
    .cart-aside-item-headline-text {
        font-size: 13px;
    }

    .cart-item-headline,
    .account-item-headline,
    .cart-aside-item-headline {
        display: flex;
        align-items: center;
    }

    .cart-item-child-label,
    .account-item-child-label,
    .cart-aside-item-child-label {
        .swag-fade-container-shrinked {
            height: auto;
        }

        &.nesting-level-0 {
            font-size: 10px;
            text-transform: uppercase;
            font-weight: $font-weight-bold;
            color: $sw-text-color;
        }

        &:not(.nesting-level-0) {
            margin-left: 13px;
            font-size: $font-size-sm;
        }
    }

    .cart-item-children-element-divider,
    .account-item-children-element-divider,
    .cart-aside-item-children-element-divider {
        display: block;
        border-top: none;
        margin: 8px 0;
    }

    .cart-item-child-label-bullet::marker,
    .account-item-child-label-bullet::marker,
    .cart-aside-item-child-label-bullet::marker {
        color: $primary;
    }

    .cart-item-collapse-button,
    .account-item-collapse-button,
    .cart-aside-item-collapse-button {
        &.collapsed {
            .ic-minus {
                display: none;
            }
        }
        &:not(.collapsed) {
            .ic-plus {
                display: none;
            }
        }
    }
}

.cart-item-quantity-container {
    width: 100%;
    padding-left: 0;

    select {
        padding: 15px 20px;
        background-color: $table-accent-bg;
        border: none;
        border-radius: 1px;
        min-width: 80px;
        background-size: 16px;
    }
}

@include media-breakpoint-up(sm) {
    .cart-item-quantity-container {
        margin-left: 0;
    }

    .cart-item-quantity {
        display: block;
    }
}

@include media-breakpoint-up(md) {
    .cart-item {
        padding: $cart-item-space-sm 0;

        &-quantity-label,
        &-unit-price-label,
        &-total-price-label,
        &-tax-price-label {
            display: none;
        }

        &:nth-of-type(2) {
            border-top: none;
        }

        &-info {
            @include make-col(6);
            min-height: 112px;
        }

        &-quantity {
            @include make-col(2);
        }

        &-ordernumber {
            margin-top: 5px;
        }

        &-quantity,
        &-tax-price,
        &-unit-price,
        &-total-price {
            padding-left: 0;
        }

        &-total-price {
            padding-right: 40px;
            justify-content: flex-end;
        }
    }

    .cart-item-details-container {
        .cart-item-quantity {
            display: none;

            .offcanvas-cart & {
                display: block;
            }
        }
    }

    .cart-item-quantity-row {
        padding-top: 0;
        margin: 0;

        > .col-12 {
            padding: 0;
        }
    }

    .cart-item-quantity {
        justify-content: space-between;
        display: flex;

        &.form-control {
            border: none;
            padding: 0;
            text-align: left;
        }
    }

    .cart-item-details-container {
        padding-left: $spacer;

        .offcanvas-cart-items & {
            padding-left: 0;
        }
    }
}

@include media-breakpoint-up(lg) {
    .cart-item-quantity-row {
        > .col-4 {
            padding: 0;
        }
    }


}

@include media-breakpoint-up(xl) {
    .checkout-main {
        .cart-item {
            padding: $spacer-lg 0;

            &-label {
                font-size: $btn-font-size-lg;
            }

            &-tax-price,
            &-unit-price,
            &-total-price {
                font-size: $btn-font-size-lg;
            }

            &-ordernumber,
            &-delivery-date {
                font-size: $btn-font-size-lg;
            }

            &-details-container {
                padding-left: $spacer-lg;
            }

            &-img-container,
            &-item-img {
                height: 112px;
                width: 112px;
            }
        }
    }

    .cart-item-total-price {
        padding-right: 70px;
    }

    .cart-item-quantity {
        width: calc(50% - 310px);

        @if (not feature('V6_5_0_0')) {
            &.form-control {
                min-width: 80px;
            }
        }
    }

    .cart-item-unit-price,
    .cart-item-tax-price {
        width: 120px;
    }

    .cart-item-total-price {
        width: 190px;
    }
}

@include media-breakpoint-up(xxl) {
    .checkout-main {
        .cart-item-quantity-select-wrapper select {
            min-width: 126px;
        }
    }
}
