$cart-img-container-width-sm: 80px;
$cart-img-container-width: 100px;

.cart-item {
    padding: 14px 0;

    &-label {
        display: block;
        font-weight: $font-weight-bold;
        line-height: 18px;
        font-size: 13px;
        margin-bottom: 10px;
        padding-top: 5px;
        padding-right: 30px;
    }

    &-img {
        border-radius: $border-radius-sm;
        padding: 0;
        border: unset;
    }

    &-img-container {
        width: $cart-img-container-width-sm;
    }

    &-quantity-label {
        text-transform: uppercase;
        letter-spacing: $letter-spacing-base;
        font-weight: $font-weight-bold;
    }

    &-details {
        display: flex;
        align-items: center;
    }

    &-total-price,
    &-tax-price,
    &-unit-price {
        order: 2;
    }

    &-info {
        margin-bottom: 0;
        padding: 0 0 14px;
    }

    &-total-price {
        padding-bottom: $card-spacer-y;
    }

    &-unit-price {
        padding-top: $card-spacer-y;
        text-align: left;
    }

    &-unit-price,
    &-total-price,
    &-tax-price {
        justify-content: space-between;
        display: flex;

        @extend .col-12;
        @extend .col-md-12;
        @extend .col-lg-2;
    }

    &-quantity-label,
    &-unit-price-label,
    &-total-price-label,
    &-tax-price-label {
        font-weight: $font-weight-normal;
        line-height: 21px;
        margin-bottom: 0;
    }

    &-total-price-label,
    &-tax-price-label {
        color: $sw-text-color;
        display: block;
    }

    &-unit-price-label,
    &-unit-price {
        color: $gray-400;
    }

    &-quantity-label {
        display: none;
    }

    &-ordernumber,
    &-delivery-date {
        margin-bottom: 0;
        font-size: $font-size-sm;
    }

    &-quantity-container {
        margin-left: 0;
        width: 100%;
    }

    @include media-breakpoint-up(md) {
        &-total-price,
        &-unit-price {
            order: 2;
        }

        &-quantity {
            order: 3;
            width: 80px;
        }

        &-quantity-container {
            width: 80px;
        }
    }

    @include media-breakpoint-up(lg) {
        &-info,
        &-quantity,
        &-unit-price,
        &-total-price,
        &-tax-price,
        &-remove {
            order: 0;
        }

        &-img-container {
            width: $cart-img-container-width;
        }

        &-info {
            padding-bottom: 0;
        }

        &-info,
        &-total-price {
            border-bottom: 0;
        }

        &-total-price {
            padding-bottom: 0;
        }

        &-unit-price {
            padding-top: 0;
        }

        &-quantity {
            text-align: left;
            width: 126px;
        }

        &-unit-price,
        &-total-price,
        &-tax-price {
            justify-content: flex-end;
            align-items: center;
        }

        &-quantity-label,
        &-unit-price-label,
        &-total-price-label,
        &-tax-price-label {
            display: none;
        }

        &-quantity-container {
            width: 126px;
        }

        &-remove {
            flex-basis: 8.33%;
        }
    }

    &-quantity {
        margin-bottom: 0;
        display: block;

        @extend .col-sm-12;
    }

    &-quantity-row {
        padding: 14px 0 0;
        margin-bottom: 0;
        display: block;

        > .col-4 {
            @extend .col-12;

            padding: 0;
        }
    }
}

.cart-table-header {
    letter-spacing: $letter-spacing-base;
    font-weight: $font-weight-bold;
    font-size: $font-size-sm;

    padding-bottom: 30px;
    text-transform: uppercase;
    border: 0;
    color: $sw-color-brand-primary;

    @include media-breakpoint-down(md) {
        display: none;
    }

    @include media-breakpoint-up(lg) {
        display: block;
        font-size: $table-head-font-size;
    }
}

.cart-item-ordernumber {
    word-break: break-word;
    font-weight: $font-weight-normal;
    font-size: 10px;
    line-height: 15px;
    color: $gray-400;
}

@include media-breakpoint-up(md) {
    .cart-item-details-container {
        .cart-item-quantity {
            display: none;
        }
    }
    .cart-item-quantity-row {
        padding-top: 0;
        margin: 0;
    }
}
