.is-ctl-checkout,
.is-act-checkoutregisterpage {
    .footer-minimal {
        .footer-service-menu-list {
            display: flex;
        }
    }
}

.is-act-finishpage,
.is-act-editorder,
.is-act-confirmpage {
    .checkout {
        .checkout-additional {
            @include make-col(12);

            margin: 0 0 34px 0;
            padding: 0;

            .card-title {
                font-size: 25px;
                border: none;
                text-transform: none;
                padding-bottom: 12px;
                margin-bottom: 0;
                font-weight: $font-weight-normal;
                color: $sw-color-price;
            }
        }
    }
}

.checkout {
    .checkout-container {
        padding-top: 34px;

        .checkout-main {
            margin-left: 0;
        }

        .checkout-aside {
            @include make-col(12);
            @include make-col-offset(0);
        }
    }
}

.checkout-product-table {
    .cart-table-header {
        .cart-header-row {
            letter-spacing: 1px;
            font-size: 10px;
            font-weight: $font-weight-bold;
            text-transform: uppercase;
        }
    }
}

.checkout-product-table,
.confirm-product {
    .cart-item-customized-products {
        .cart-item-children {
            @extend .col-12, .col-md-5, .col-lg-4;
        }
    }
}


.is-act-checkoutregisterpage {
    .checkout-container {
        margin-bottom: 100px;
    }
}

@include media-breakpoint-only(md) {
    .is-act-finishpage,
    .is-act-confirmpage {
        .checkout-aside {
            display: flex;
            gap: 1rem;

            .checkout-additional,
            .checkout-aside-container {
                flex: 1;
            }
        }
    }
}

@include media-breakpoint-up(md) {
    .checkout-product-table,
    .confirm-product {
        .cart-item-customized-products {
            .cart-item-children {
                margin-left: 128px;
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .checkout {
        .checkout-container {
            padding-top: 70px;

            .checkout-main {
                @include make-col(8);
            }

            .checkout-aside {
                @include make-col(4);
            }
        }
    }

    .is-act-finishpage,
    .is-act-confirmpage,
    .is-ctl-accountorder {
        .checkout {
            .checkout-additional {
                margin: 0 0 50px 0;
                width: 100%;
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .checkout {
        .checkout-container {
            padding-top: 70px;

            .checkout-main {
                @include make-col(8);
            }

            .checkout-aside {
                @include make-col(4);

                margin-left: auto;
                max-width: 427px;
            }
        }
    }
}
