.is-act-confirmpage,
.is-ctl-accountorder {
    .checkout {
        padding-top: 0;
    }

    .container-main {
        padding-top: 50px;
    }

    .checkout-aside-container {
        background-color: $secondary-lighten-150;
        padding: 34px 24px 24px;
    }

    .checkout-aside-summary {
        padding: 0;
        background: none;
    }

    .checkout-aside-summary-list-container {
        margin-bottom: 50px;
    }

    .confirm-tos {
        .card-title {
            border: none;
            margin-bottom: 0;
            padding-bottom: 14px;
            font-weight: $font-weight-normal;
        }
    }

    .form-check {
        color: $smoke-text-color;
    }

    .form-check-label {
        cursor: pointer;

        strong {
            font-weight: $font-weight-normal;
            font-size: 15px;
        }
    }

    @if (feature('V6_5_0_0')) {
        .form-check-input:checked + .form-check-label {
            strong {
                color: $sw-text-color;
                font-weight: $font-weight-bold;
            }
        }
    } @else {
        .custom-control-input:checked + .custom-control-label {
            strong {
                color: $sw-text-color;
            }
        }
    }

    .payment-method-description,
    .shipping-method-description {
        font-size: $font-size-base;

        strong {
            font-weight: $font-weight-normal;
            @if (not feature('V6_5_0_0')) {
                line-height: 26px;
            }
        }

        p {
            margin-bottom: 0;
            font-size: $font-size-sm;
            color: $smoke-text-color;
        }
    }

    .payment-method-image {
        max-height: 50px;

        &::before {
            content: '';
            display: block;
            width: 50px;
            height: 50px;
        }
    }

    .confirm-payment-shipping {
        margin-bottom: 12px;
    }

    .confirm-address {
        margin-bottom: 0;
    }

    .confirm-main-header {
        font-size: 25px;
        font-weight: $font-weight-normal;

        @extend .w-100;
    }

    .checkout-confirm-tos-label {
        &::before {
            top: 2px;
            transform: none;
            width: 18px;
            height: 18px;
        }

        &::after {
            top: 3px;
            transform: none;
            left: -25px;
        }
    }
}

.card-title__wrapper {
    .card-title + a {
        margin-left: 14px;

        > .icon svg {
            top: 10px;
        }
    }
}

@include media-breakpoint-up(md) {
    .is-act-confirmpage,
    .is-ctl-accountorder {
        .confirm-product {
            .cart-header-total-price,
            .cart-item-total-price,
            .line-item-tax-price,
            .line-item-total-price-value {
                text-align: left;
                justify-content: flex-start;
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .is-act-confirmpage,
    .is-ctl-accountorder {
        .container-main {
            padding-top: 70px;
        }

        .checkout-aside-container {
            padding: 44px 34px 34px;
        }

        .confirm-payment-shipping {
            margin-bottom: 50px;
        }

        .confirm-main-header {
            font-size: $h2-font-size;
        }
    }
}
