.is-act-finishpage {
    .container-main,
    .checkout {
        padding-top: 0;
    }

    .finish-detail-wrapper {
        > .checkout-card {
            width: 100vw;
            background-color: $secondary-lighten-150;
            margin-left: calc((100% - 100vw) / 2);
            padding: 50px;
        }
    }

    .finish-header {
        font-weight: $font-weight-normal;
        margin-bottom: 14px;
    }

    .finish-ordernumber {
        font-weight: $font-weight-normal;
        color: $gray-800;
        font-size: $h3-font-size;
        margin-bottom: 0;
    }

    .finish-content {
        margin-bottom: 0;
        color: $smoke-text-color;
    }

    .finish-checkout-title {
        font-size: $h4-font-size;
        font-weight: $font-weight-normal;
        line-height: 26px;
        margin-bottom: 34px;
        border-top: $border-width solid $border-color;
        padding-top: 34px;
    }

    .finish-teaser {
        margin-bottom: 0;
    }

    .finish-order-details {
        p {
            font-weight: 700;
            color: $black;
        }

        strong {
            font-weight: $font-weight-normal;
            color: $smoke-text-color;
        }
    }

    .line-item-quantity {
        margin-bottom: 8px;
        padding-left: 0;

        &-row {
            justify-content: space-between;
            margin-bottom: 0;
            padding-left: $line-item-img-size + $line-item-space-sm;

            .line-item-quantity {
                margin-top: 0;
            }
        }

        &-label {
            display: inline;

            @include media-breakpoint-up(md) {
                display: none;
            }
        }

        &-select-wrapper {
            width: auto;
        }
    }

    .checkout .checkout-container {
        border-top: $border-width solid $border-color;
        padding-top: 34px;
    }

    @if not feature('v6.5.0.0') {
        .cart-item-quantity-row {
            display: flex;
            justify-content: space-between;

            .cart-item-quantity-label {
                @include make-col(6);
                margin-bottom: 0;
            }

            .col-4.col-sm-12 {
                @include make-col(6);
            }
        }

        .cart-item-quantity,
        .cart-item-tax-price,
        .cart-item-quantity-label,
        .cart-item-tax-price-label {
            color: $gray-400;
        }
    }

    .cart-item-total-price-label {
        font-weight: $font-weight-bold;
    }

    .cart-item-quantity-label {
        display: inline-block;
        text-align: left;
    }

    @include media-breakpoint-up(md) {
        .checkout .checkout-container {
            padding-top: 50px;
        }

        .cart-table-header .cart-header-total-price,
        .line-item-total-price {
            padding-right: 0;
        }

        .line-item-quantity-row {
            &,
            .line-item-quantity {
                padding-left: 0 !important;
                justify-content: start !important;
            }
        }

        .line-item-tax-price {
            text-align: left;
        }

        @if not feature('v6.5.0.0') {
            .cart-item-quantity-label {
                display: none;
            }

            .cart-item-quantity {
                padding-left: 0;
            }

            .cart-item-quantity-row {
                width: 100%;

                .cart-item-quantity {
                    justify-content: start !important;
                }
            }

            .cart-table-header .cart-header-total-price,
            .cart-item-total-price,
            .line-item-total-price {
                padding-right: 0;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        .checkout .checkout-container {
            padding-top: 70px;
            border-top: none;
        }

        .finish-checkout-title {
            padding-top: 50px;
        }
    }
}

@include media-breakpoint-up(xl) {
    .is-act-finishpage {
        .cart-header-total-price,
        .line-item-total-price {
            width: 120px;
            padding-right: 0;
        }

        .cart-header-quantity,
        .line-item-quantity {
            width: calc(50% - 240px);
        }
    }
}
