$checkout-login-register-space-sm: 24px;
$checkout-login-register-space-md: 50px;

.is-act-checkoutregisterpage {
    .checkout .checkout-container {
        .checkout-aside {
            @extend .d-block;
        }
    }

    .container-main,
    .checkout {
        padding: 0;
    }

    .checkout-aside-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .line-item {
        padding: 10px;
        min-height: 80px;
        background-color: $white;
        margin-bottom: 5px;
        border: none;
    }

    .line-item-img-container,
    .line-item-img {
        height: 60px;
        width: 60px;
    }

    .line-item-quantity,
    .line-item .product-wishlist,
    .line-item-ordernumber,
    .line-item-total-price-label {
        @extend .d-none;
    }

    .line-item-total-price,
    .line-item-details {
        padding-left: 78px;
    }

    .line-item-label {
        padding-top: 4px;
    }

    .is-offcanvas {
        .line-item-info {
            @include make-col(12);
        }
    }

    .address-main-header {
        font-weight: $font-weight-base;
        font-size: $h2-font-size;
        margin-bottom: $checkout-login-register-space-sm;
    }

    .checkout-main {
        .card-title {
            text-transform: uppercase;
            font-size: $btn-font-size-sm;
            font-weight: $font-weight-bold;
            color: $gray-800;
            width: fit-content;
            margin-bottom: 25px;
            border-bottom: 2px solid $gray-800;
        }

        .form-label {
            display: none;
        }
    }

    .collapse-toogle {
        padding: 8px 10px;
        border-top: $border-width solid $border-color;

        .login-collapse-toggle,
        .register-collapse-toggle {
            color: $sw-text-color;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .icon-minus,
            &.collapsed .icon-plus {
                display: block;
            }

            .icon-plus,
            &.collapsed .icon-minus {
                display: none;
            }

            strong {
                font-size: $btn-font-size;
            }

            svg {
                top: 0;
                width: 14px;
                height: 14px;
            }

            &:hover {
                text-decoration: none;
            }
        }

        .login-form {
            padding-top: 10px;
            font-size: $btn-font-size;

            .login-submit {
                margin-left: $checkout-login-register-space-sm;
            }
        }

        &:last-child {
            border-bottom: $border-width solid $border-color;
        }
    }

    .register-card {
        margin-top: 30px;
    }

    .custom-control-input {
        @extend .form-check-input;

        &:checked ~ .custom-control-label {
            font-size: $font-size-small;
            font-weight: $font-weight-base;
            color: $gray-400;
        }
    }

    .form-check-input,
    .custom-control-input {
        width: 15px;
        height: 15px;
    }

    .register-different-shipping label {
        font-size: $font-size-small;
        margin: 2px 0 0 3px;
        color: $gray-400;
    }

    .register-different-shipping {
        font-size: $font-size-small;
    }

    .login-submit,
    .register-submit {
        .btn-primary {
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    .register-submit {
        margin-bottom: $checkout-login-register-space-sm;
    }

    .form-group:empty {
        margin: 0;
    }

    .register-required-info,
    small.form-text {
        font-size: $font-size-small;
        color: $smoke-text-color;
    }

    .register-required-info {
        display: flex;
        align-items: center;

        .icon {
            color: $gray-600;
            margin-right: 10px;

            svg {
                top: 0;
                fill: none;
            }
        }
    }

    .checkout-aside-product-counter {
        font-size: $input-font-size-lg;
        color: $smoke-text-color;
        font-weight: $font-weight-base;
        text-transform: capitalize;
    }
}

@include media-breakpoint-up(md) {
    .is-act-checkoutregisterpage {
        .checkout-aside-container {
            max-width: 100%;
            padding: 34px $checkout-login-register-space-sm;
        }

        .checkout-aside-summary {
            max-width: 346px;
            margin-left: auto;
        }

        .line-item-info {
            min-height: auto;
        }

        .address-main-header {
            margin-bottom: $checkout-login-register-space-sm;
        }

        .register-collapse-toggle,
        .login-collapse-toggle {
            strong {
                font-size: $btn-font-size-lg;
            }
        }

        .login-submit,
        .register-submit {
            .btn-primary {
                width: auto;
            }
        }

        .register-submit {
            margin-bottom: 0;
        }
    }
}

@include media-breakpoint-up(lg) {
    .is-act-checkoutregisterpage {
        .checkout-aside-container {
            flex-direction: column;
        }

        .line-item {
            min-height: 100px;
        }

        .checkout-aside-products {
            padding-top: 34px;
            padding-bottom: 0;
        }

        .collapse-toogle {
            padding: 17px 10px;
        }
    }

}
